Repository catppuccin/userstyles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rubyowo, @AnubisNekhet, @GenShibe, @Gandalf-the-Blue, @ndsboy, @RoootTheFox, @rockquiet, @uncenter, @coldenate, @isabelroses, @jn-sena, @ryanccn, @watatomo, @NK308, @r58Playz, @GitMuslim, @lucasmelin, @Guaxinim5573, @justTOBBI, @thomas-philippot, @coopw1, @soya-daizu, @thismoon, @alythical, @Tnixc, @Nyatalieeee, @temp-19382838, @trinkey, @spaghettiosareyummy, @Sekki21956, @itzTheMeow, @BlankParticle, @FrancoRav, @Dandraghas

feat(stack-overflow): support more stack exchange sites
  styles/stack-overflow/catppuccin.user.css
Owners: @uncenter

chore(stack-overflow): bump version
  styles/stack-overflow/catppuccin.user.css
Owners: @uncenter

fix(hackage): color mathjax menus and quick jump
  styles/hackage/catppuccin.user.css
Owners: @jn-sena

style(hackage): fix lint errors
  styles/hackage/catppuccin.user.css
Owners: @jn-sena

fix(hackage): color haddock menus (#938)
  styles/hackage/catppuccin.user.css
Owners: @jn-sena

fix(hyperpipe): color the play button (#939)
  styles/hyperpipe/catppuccin.user.css
Owners: @jn-sena

style: format code with prettier
  styles/hyperpipe/catppuccin.user.css
Owners: @jn-sena

feat(stack-overflow): support ask ubuntu and stack apps
  styles/stack-overflow/catppuccin.user.css
Owners: @uncenter

docs(userstylesyml): update for hoisted `past`/`current-maintainers`
  docs/userstylesyml.md
Owners: none

refactor: hoist `current/past-maintainers` keys up (#811)
  docs/userstylesyml.md
  scripts/generate/main.ts
  scripts/generate/readme-repo.ts
  scripts/generate/readme-styles.ts
  scripts/types/userstyles.d.ts
  scripts/userstyles.schema.json
  scripts/userstyles.yml
Owners: none

fix(ci/sync-maintainers): hoist `current-maintainers` key
  scripts/sync-maintainers/main.ts
Owners: none

ci(sync-maintainers): hoist `current-maintainers` key (#940)
  scripts/sync-maintainers/main.ts
Owners: none

fix(youtube): stats for nerds
  styles/youtube/catppuccin.user.css
Owners: @isabelroses, @uncenter

chore: bump ver num
  styles/youtube/catppuccin.user.css
Owners: @isabelroses, @uncenter

chore: fix ver num
  styles/youtube/catppuccin.user.css
Owners: @isabelroses, @uncenter

fix(youtube): stats for nerds (#941)
  styles/youtube/catppuccin.user.css
Owners: @isabelroses, @uncenter

fix(mastodon): active icon button color
  styles/mastodon/catppuccin.user.css
Owners: @isabelroses

chore: bump ver num
  styles/mastodon/catppuccin.user.css
Owners: @isabelroses

fix(mastodon): active icon button color (#942)
  styles/mastodon/catppuccin.user.css
Owners: @isabelroses

chore(userstyles.yml): `andreasgrafen` -> @unseen-ninja
  scripts/userstyles.yml
Owners: none

chore(userstyles.yml): `andreasgrafen` -> @unseen-ninja (#943)
  scripts/userstyles.yml
Owners: none

chore: generate health files
  styles/github/README.md
  styles/invidious/README.md
  styles/libreddit/README.md
  styles/mastodon/README.md
Owners: @uncenter, @isabelroses

fix(lastfm): theme documentation
  styles/lastfm/catppuccin.user.css
Owners: @AnubisNekhet

chore(lastfm): bump ver. & fix #925
  styles/lastfm/catppuccin.user.css
Owners: @AnubisNekhet

fix(mastodon): active icon button color + confirmation prompt
  styles/mastodon/catppuccin.user.css
Owners: @isabelroses

chore: bump ver num
  styles/mastodon/catppuccin.user.css
Owners: @isabelroses

fix(mastodon): active icon button color + confirmation prompt (#945)
  styles/mastodon/catppuccin.user.css
Owners: @isabelroses

.github/CODEOWNERS:

# THIS FILE IS AUTOGENERATED. DO NOT EDIT IT BY HAND.
/styles/advent-of-code @rubyowo
/styles/anilist @AnubisNekhet
/styles/arch-wiki @GenShibe
/styles/boringproxy @Gandalf-the-Blue
/styles/brave-search @ndsboy
/styles/bsky @RoootTheFox
/styles/bstats @rockquiet
/styles/chatgpt @uncenter
/styles/chatreplay @AnubisNekhet
/styles/chess.com @coldenate @isabelroses
/styles/cinny @jn-sena
/styles/codeberg @isabelroses
/styles/crates.io @uncenter
/styles/crowdin @ryanccn
/styles/deepl @watatomo
/styles/docs.rs @uncenter
/styles/duckduckgo @GenShibe
/styles/ecosia @isabelroses
/styles/elk @ryanccn
/styles/freedesktop @NK308
/styles/formative @r58Playz
/styles/github @uncenter
/styles/google @GitMuslim
/styles/google-drive @r58Playz
/styles/google-photos @GenShibe
/styles/graphite @isabelroses
/styles/hackage @jn-sena
/styles/hacker-news @lucasmelin
/styles/holodex @Guaxinim5573
/styles/home-manager-options-search @uncenter
/styles/homepage @Gandalf-the-Blue
/styles/hoppscotch @justTOBBI
/styles/hyperpipe @jn-sena
/styles/ichi.moe @watatomo
/styles/inoreader @thomas-philippot
/styles/instagram @GenShibe
/styles/invokeai @ryanccn
/styles/keyoxide @uncenter
/styles/lastfm @AnubisNekhet
/styles/lemmy @Gandalf-the-Blue
/styles/lichess @coopw1
/styles/lingva @rubyowo
/styles/linkedin @isabelroses
/styles/mastodon @isabelroses
/styles/mdbook @uncenter
/styles/mdn @soya-daizu
/styles/modrinth @thismoon
/styles/microsoft-word @GitMuslim
/styles/migadu-webmail @uncenter
/styles/minesweeper @GitMuslim
/styles/nitter @AnubisNekhet
/styles/nixos-search @alythical
/styles/npm @uncenter
/styles/openmediavault @Gandalf-the-Blue
/styles/paste.rs @Guaxinim5573
/styles/perplexity @isabelroses @Tnixc
/styles/picrew @Nyatalieeee
/styles/planet-minecraft @temp-19382838
/styles/pronouns.page @uncenter
/styles/proton @soya-daizu
/styles/pypi @trinkey
/styles/quizlet @spaghettiosareyummy
/styles/searxng @Sekki21956 @ryanccn
/styles/snapchat-web @itzTheMeow
/styles/spotify-web @Tnixc
/styles/stack-overflow @uncenter
/styles/skiff @coopw1
/styles/stylus @GitMuslim
/styles/syncthing @BlankParticle
/styles/tabnews @Guaxinim5573
/styles/tldraw @GenShibe @uncenter
/styles/trinket @trinkey
/styles/tuta @ryanccn
/styles/twitch @GitMuslim @uncenter
/styles/twitter @watatomo
/styles/vercel @ryanccn
/styles/whatsapp-web @FrancoRav
/styles/wikipedia @GitMuslim
/styles/wikiwand @Tnixc
/styles/youtube @isabelroses @uncenter
/styles/nextjs @Dandraghas
