Repository catppuccin/userstyles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rubyowo, @stellophiliac, @AnubisNekhet, @Gandalf-the-Blue, @ndsboy, @RoootTheFox, @rockquiet, @uncenter, @jn-sena, @isabelroses, @kerichdev, @ryanccn, @watatomo, @GenShibe, @NK308, @r58Playz, @Flapperoo, @GitMuslim, @Dandraghas, @lucasmelin, @Guaxinim5573, @justTOBBI, @thomas-philippot, @coopw1, @00dani, @soya-daizu, @thismoon, @cecelot, @Tnixc, @Nyatalieeee, @Nyameliaaaa, @trinkey, @spaghettiosareyummy, @Sekki21956, @jh-devv, @itzTheMeow, @BlankParticle, @FrancoRav, @catppuccin/userstyles-staff

.github/CODEOWNERS:

# THIS FILE IS AUTOGENERATED. DO NOT EDIT IT BY HAND.
/styles/advent-of-code @rubyowo
/styles/amplenote @stellophiliac
/styles/anilist @AnubisNekhet
/styles/boringproxy @Gandalf-the-Blue
/styles/brave-search @ndsboy
/styles/bsky @RoootTheFox
/styles/bstats @rockquiet
/styles/chatgpt @uncenter
/styles/chatreplay @AnubisNekhet
/styles/cinny @jn-sena
/styles/codeberg @isabelroses
/styles/cobalt @kerichdev
/styles/crates.io @uncenter
/styles/crowdin @ryanccn
/styles/deepl @watatomo
/styles/docs.rs @uncenter
/styles/duckduckgo @GenShibe
/styles/ecosia @isabelroses
/styles/elk @ryanccn
/styles/freedesktop @NK308
/styles/formative @r58Playz
/styles/github @uncenter
/styles/gmail @uncenter
/styles/go.dev @Flapperoo
/styles/google @GitMuslim
/styles/google-drive @r58Playz
/styles/google-photos @GenShibe
/styles/graphite @isabelroses
/styles/google-gemini @Dandraghas
/styles/hackage @jn-sena
/styles/hacker-news @lucasmelin
/styles/holodex @Guaxinim5573
/styles/home-manager-options-search @uncenter
/styles/homepage @Gandalf-the-Blue
/styles/hoppscotch @justTOBBI
/styles/hyperpipe @jn-sena
/styles/ichi.moe @watatomo
/styles/inoreader @thomas-philippot
/styles/instagram @GenShibe
/styles/invokeai @ryanccn
/styles/keyoxide @uncenter
/styles/lastfm @AnubisNekhet
/styles/lemmy @Gandalf-the-Blue
/styles/lichess @coopw1
/styles/lingva @rubyowo
/styles/linkedin @isabelroses
/styles/listenbrainz @00dani
/styles/mdbook @uncenter
/styles/mdn @soya-daizu
/styles/modrinth @thismoon
/styles/microsoft-word @GitMuslim
/styles/migadu-webmail @uncenter
/styles/minesweeper @GitMuslim
/styles/nitter @AnubisNekhet
/styles/nixos-search @cecelot
/styles/npm @uncenter
/styles/openmediavault @Gandalf-the-Blue
/styles/paste.rs @Guaxinim5573
/styles/perplexity @Tnixc
/styles/phanpy @Guaxinim5573
/styles/picrew @Nyatalieeee
/styles/planet-minecraft @Nyameliaaaa
/styles/porkbun @uncenter
/styles/pronouns.page @uncenter
/styles/proton @soya-daizu
/styles/pypi @trinkey
/styles/quizlet @spaghettiosareyummy
/styles/raindrop @thismoon
/styles/searxng @Sekki21956 @ryanccn
/styles/shinigami-eyes @jh-devv
/styles/snapchat-web @itzTheMeow
/styles/spotify-web @Tnixc
/styles/stack-overflow @uncenter
/styles/skiff @coopw1
/styles/stylus @GitMuslim
/styles/syncthing @BlankParticle
/styles/tabnews @Guaxinim5573
/styles/tldraw @GenShibe @uncenter
/styles/trinket @trinkey
/styles/tuta @ryanccn
/styles/twitch @GitMuslim @uncenter
/styles/twitter @watatomo
/styles/vercel @ryanccn @Dandraghas
/styles/vikunja @Guaxinim5573
/styles/web.dev @uncenter
/styles/whatsapp-web @FrancoRav
/styles/wikipedia @GitMuslim
/styles/wikiwand @Tnixc
/styles/youtube @isabelroses @uncenter

/.github/ @catppuccin/userstyles-staff
/scripts/ @catppuccin/userstyles-staff
/template/ @catppuccin/userstyles-staff

Change outline to subtext0
  styles/google-gemini/catppuccin.user.css
Owners: @Dandraghas

fix(chatgpt): new login buttons, auth header logo
  styles/chatgpt/catppuccin.user.css
Owners: @uncenter

chore(chatgpt): bump version
  styles/chatgpt/catppuccin.user.css
Owners: @uncenter

apply fix
  styles/deepl/catppuccin.user.css
Owners: @watatomo

update version number
  styles/deepl/catppuccin.user.css
Owners: @watatomo

add unthemed text
  styles/deepl/catppuccin.user.css
Owners: @watatomo

use ``@mantle`` instead of ``@base``
  styles/deepl/catppuccin.user.css
Owners: @watatomo

add unthemed image
  styles/deepl/catppuccin.user.css
Owners: @watatomo

fix(chatgpt): new login buttons, auth header logo (#1138)
  styles/chatgpt/catppuccin.user.css
Owners: @uncenter

style: format code with prettier
  styles/chatgpt/catppuccin.user.css
Owners: @uncenter
