Repository catppuccin/userstyles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rubyowo, @AnubisNekhet, @GenShibe, @Gandalf-the-Blue, @ndsboy, @RoootTheFox, @rockquiet, @TheMemeSniper, @coldenate, @isabelroses, @skelebro1, @jn-sena, @justTOBBI, @ryanccn, @watatomo, @r58Playz, @uncenter, @GitMuslim, @lucasmelin, @nekowinston, @coopw1, @thismoon, @alaidriel, @night-lake, @soya-daizu, @spaghettiosareyummy, @Sekki21956, @itzTheMeow, @tnixc, @bartlibert, @BlankParticle, @FrancoRav, @Dandraghas

fix(google): ai search
  styles/google/catppuccin.user.css
Owners: @GitMuslim

refactor(google): some code change
  styles/google/catppuccin.user.css
Owners: @GitMuslim

Update styles/google/catppuccin.user.css
  styles/google/catppuccin.user.css
Owners: @GitMuslim

Update styles/google/catppuccin.user.css
  styles/google/catppuccin.user.css
Owners: @GitMuslim

fix(gmail): various unthemed elements
  styles/gmail/catppuccin.user.css
Owners: @isabelroses

fix(google): ai search (#509)
  styles/google/catppuccin.user.css
Owners: @GitMuslim

style: format code with prettier
  styles/google/catppuccin.user.css
Owners: @GitMuslim

fix(github): tooltip colors accidentally affecting other elements
  styles/github/catppuccin.user.css
Owners: @uncenter

fix(gmail): various unthemed elements (#510)
  styles/gmail/catppuccin.user.css
Owners: @isabelroses

fix(github): tooltip colors accidentally affecting other elements (#511)
  styles/github/catppuccin.user.css
Owners: @uncenter

feat(github): syntax highlighting in codemirror web editor
  styles/github/catppuccin.user.css
Owners: @uncenter

chore(github): bump version from 1.3.7 to 1.3.8
  styles/github/catppuccin.user.css
Owners: @uncenter

feat(github): syntax highlighting in codemirror web editor (#514)
  styles/github/catppuccin.user.css
Owners: @uncenter

.github/CODEOWNERS:

# THIS FILE IS AUTOGENERATED. DO NOT EDIT IT BY HAND.
/styles/advent-of-code @rubyowo
/styles/anilist @AnubisNekhet
/styles/arch-wiki @GenShibe
/styles/boringproxy @Gandalf-the-Blue
/styles/brave-search @ndsboy
/styles/bsky @RoootTheFox
/styles/bstats @rockquiet
/styles/canvas-lms @TheMemeSniper
/styles/chatreplay @AnubisNekhet
/styles/chess.com @coldenate @isabelroses @skelebro1
/styles/cinny @jn-sena
/styles/codeberg @justTOBBI
/styles/crowdin @ryanccn
/styles/deepl @watatomo
/styles/ecosia @isabelroses
/styles/elk @ryanccn
/styles/formative @r58Playz
/styles/github @uncenter
/styles/gmail @isabelroses
/styles/google @GitMuslim
/styles/graphite @isabelroses
/styles/hackage @jn-sena
/styles/hacker-news @lucasmelin
/styles/homepage @Gandalf-the-Blue
/styles/hoppscotch @justTOBBI
/styles/ichi.moe @watatomo
/styles/instagram @GenShibe
/styles/invidious @nekowinston
/styles/invokeai @ryanccn
/styles/lastfm @AnubisNekhet
/styles/lemmy @Gandalf-the-Blue
/styles/libreddit @isabelroses
/styles/lichess @coopw1
/styles/lingva @rubyowo
/styles/linkedin @isabelroses
/styles/mastodon @isabelroses
/styles/modrinth @thismoon
/styles/microsoft-word @GitMuslim
/styles/nitter @AnubisNekhet
/styles/nixos-search @alaidriel
/styles/nixos.wiki @nekowinston
/styles/openmediavault @Gandalf-the-Blue
/styles/perplexity @isabelroses
/styles/planet-minecraft @night-lake
/styles/proton @soya-daizu
/styles/quizlet @spaghettiosareyummy
/styles/searxng @Sekki21956 @ryanccn
/styles/snapchat-web @itzTheMeow
/styles/spotify-web @tnixc
/styles/startpage @bartlibert
/styles/skiff @coopw1
/styles/stylus @GitMuslim
/styles/substack @nekowinston
/styles/syncthing @BlankParticle
/styles/tuta @ryanccn
/styles/twitch @GitMuslim @isabelroses
/styles/twitter @watatomo
/styles/vercel @ryanccn
/styles/whatsapp-web @FrancoRav
/styles/wikipedia @GitMuslim
/styles/wikiwand @tnixc
/styles/youtube @isabelroses
/styles/nextjs @Dandraghas
