Repository catppuccin/userstyles, changes with the labels that .github/labeler.yml gives for each.
All labels: searxng, anilist, brave-search, codeberg, deepl, elk, github, hacker-news, ichi.moe, invidious, lastfm, libreddit, mastodon, modrinth, nitter, nixos-search, proton, reddit, tutanota, twitch, vercel, wikiwand, youtube, youtubemusic

feat: add cinny
  .github/CODEOWNERS
  styles/cinny/.editorconfig
  styles/cinny/LICENSE
  styles/cinny/assets/preview.webp
  styles/cinny/catppuccin.user.css
Labels: none

chore: re-generate README sections
  README.md
Labels: none

refactor: rename directory SearXNG -> searxng
  styles/searxng/.editorconfig
  styles/searxng/LICENSE
  styles/searxng/assets/.gitkeep
  styles/searxng/assets/frappe.webp
  styles/searxng/assets/latte.webp
  styles/searxng/assets/macchiato.webp
  styles/searxng/assets/mocha.webp
  styles/searxng/assets/preview.webp
  styles/searxng/catppuccin.user.css
Labels: none

refactor: remove individual `.git` files
  .gitignore
  styles/anilist/assets/.gitkeep
  styles/codeberg/assets/.gitkeep
  styles/deepl/.gitattributes
  styles/deepl/assets/.gitkeep
  styles/elk/.gitignore
  styles/elk/assets/.gitkeep
  styles/hacker-news/assets/.gitkeep
  styles/invidious/assets/.gitkeep
  styles/lastfm/.gitignore
  styles/lastfm/assets/.gitkeep
  styles/modrinth/assets/.gitkeep
  styles/nitter/.gitattributes
  styles/nitter/.gitignore
  styles/nitter/assets/.gitkeep
  styles/proton/assets/.gitkeep
  styles/reddit/assets/.gitkeep
  styles/searxng/assets/.gitkeep
  styles/tutanota/.gitignore
  styles/tutanota/assets/.gitkeep
  styles/twitch/assets/.gitkeep
  styles/vercel/.gitignore
  styles/vercel/assets/.gitkeep
  styles/wikiwand/assets/.gitkeep
  styles/youtubemusic/assets/.gitkeep
Labels: anilist, codeberg, deepl, elk, hacker-news, invidious, lastfm, modrinth, nitter, proton, reddit, tutanota, twitch, vercel, wikiwand, youtubemusic

fix: ensure correct `@updateURL` links
  styles/elk/catppuccin.user.css
  styles/tutanota/catppuccin.user.css
  styles/twitch/catppuccin.user.css
  styles/vercel/catppuccin.user.css
Labels: elk, tutanota, twitch, vercel

refactor: enforce consistent `assets/` structure
  styles/elk/assets/frappe.webp
  styles/elk/assets/latte.webp
  styles/elk/assets/macchiato.webp
  styles/elk/assets/mocha.webp
  styles/elk/assets/preview.webp
  styles/tutanota/assets/frappe.webp
  styles/tutanota/assets/latte.webp
  styles/tutanota/assets/macchiato.webp
  styles/tutanota/assets/mocha.webp
  styles/tutanota/assets/preview.webp
  styles/vercel/assets/frappe.webp
  styles/vercel/assets/latte.webp
  styles/vercel/assets/macchiato.webp
  styles/vercel/assets/mocha.webp
  styles/vercel/assets/preview.webp
Labels: elk, tutanota, vercel

refactor: remove elk README.md
  styles/elk/README.md
Labels: elk

chore: update .gitignore
  .gitignore
Labels: none

refactor: enforce previews to be `catwalk.webp`
  styles/anilist/assets/anichart/catwalk.webp
  styles/anilist/assets/anilist/catwalk.webp
  styles/brave-search/assets/catwalk.webp
  styles/cinny/assets/catwalk.webp
  styles/codeberg/assets/catwalk.webp
  styles/deepl/assets/catwalk.webp
  styles/elk/assets/catwalk.webp
  styles/github/assets/catwalk.webp
  styles/ichi.moe/assets/catwalk.webp
  styles/invidious/assets/catwalk.webp
  styles/lastfm/assets/catwalk.webp
  styles/libreddit/assets/catwalk.webp
  styles/mastodon/assets/catwalk.webp
  styles/modrinth/assets/catwalk.webp
  styles/nitter/assets/catwalk.webp
  styles/nixos-search/assets/catwalk.webp
  styles/nixos-search/assets/frappe.webp
  styles/nixos-search/assets/latte.webp
  styles/nixos-search/assets/macchiato.webp
  styles/nixos-search/assets/mocha.webp
  styles/proton/assets/catwalk.webp
  styles/reddit/assets/catwalk.webp
  styles/reddit/assets/frappe.webp
  styles/reddit/assets/latte.webp
  styles/reddit/assets/macchiato.webp
  styles/reddit/assets/mocha.webp
  styles/searxng/assets/catwalk.webp
  styles/tutanota/assets/catwalk.webp
  styles/twitch/assets/catwalk.webp
  styles/vercel/assets/catwalk.webp
  styles/wikiwand/assets/catwalk.webp
  styles/youtube/assets/catwalk.webp
  styles/youtubemusic/assets/catwalk.webp
Labels: anilist, brave-search, codeberg, deepl, elk, github, ichi.moe, invidious, lastfm, libreddit, mastodon, modrinth, nitter, nixos-search, proton, reddit, tutanota, twitch, vercel, wikiwand, youtube, youtubemusic

feat: add `userstyles.yml`
  src/userstyles.schema.json
  src/userstyles.yml
Labels: none

fix: ensure correct `updateURL`
  styles/nitter/catppuccin.user.css
  styles/nixos-search/catppuccin.user.css
  styles/reddit/catppuccin.user.css
Labels: nitter, nixos-search, reddit

refactor: remove youtubemusic
  styles/youtubemusic/.editorconfig
  styles/youtubemusic/LICENSE
  styles/youtubemusic/assets/catwalk.webp
  styles/youtubemusic/assets/frappe.webp
  styles/youtubemusic/assets/icons/frappe-playlist.png
  styles/youtubemusic/assets/icons/frappe.png
  styles/youtubemusic/assets/icons/frappeplaylistempty.png
  styles/youtubemusic/assets/icons/frappeprem1.png
  styles/youtubemusic/assets/icons/frappeprem2.png
  styles/youtubemusic/assets/icons/frappeprem3.png
  styles/youtubemusic/assets/icons/frappepremtitle.png
  styles/youtubemusic/assets/icons/latte-playlist.png
  styles/youtubemusic/assets/icons/latte.png
  styles/youtubemusic/assets/icons/latteplaylistempty.png
  styles/youtubemusic/assets/icons/latteprem1.png
  styles/youtubemusic/assets/icons/latteprem2.png
  styles/youtubemusic/assets/icons/latteprem3.png
  styles/youtubemusic/assets/icons/lattepremtitle.png
  styles/youtubemusic/assets/icons/macchiato-playlist.png
  styles/youtubemusic/assets/icons/macchiato.png
  styles/youtubemusic/assets/icons/macchiatoplaylistempty.png
  styles/youtubemusic/assets/icons/macchiatoprem1.png
  styles/youtubemusic/assets/icons/macchiatoprem2.png
  styles/youtubemusic/assets/icons/macchiatoprem3.png
  styles/youtubemusic/assets/icons/macchiatopremtitle.png
  styles/youtubemusic/assets/icons/mocha-playlist.png
  styles/youtubemusic/assets/icons/mocha.png
  styles/youtubemusic/assets/icons/mochaplaylistempty.png
  styles/youtubemusic/assets/icons/mochaprem1.png
  styles/youtubemusic/assets/icons/mochaprem2.png
  styles/youtubemusic/assets/icons/mochaprem3.png
  styles/youtubemusic/assets/icons/mochapremtitle.png
  styles/youtubemusic/assets/latte.webp
  styles/youtubemusic/assets/macchiato.webp
  styles/youtubemusic/assets/mocha.webp
  styles/youtubemusic/catppuccin.user.css
  styles/youtubemusic/src/frappe.css
  styles/youtubemusic/src/latte.css
  styles/youtubemusic/src/macchiato.css
  styles/youtubemusic/src/mocha.css
Labels: youtubemusic

refactor: remove youtubemusic
  styles/youtubemusic/.editorconfig
  styles/youtubemusic/LICENSE
  styles/youtubemusic/assets/catwalk.webp
  styles/youtubemusic/assets/frappe.webp
  styles/youtubemusic/assets/icons/frappe-playlist.png
  styles/youtubemusic/assets/icons/frappe.png
  styles/youtubemusic/assets/icons/frappeplaylistempty.png
  styles/youtubemusic/assets/icons/frappeprem1.png
  styles/youtubemusic/assets/icons/frappeprem2.png
  styles/youtubemusic/assets/icons/frappeprem3.png
  styles/youtubemusic/assets/icons/frappepremtitle.png
  styles/youtubemusic/assets/icons/latte-playlist.png
  styles/youtubemusic/assets/icons/latte.png
  styles/youtubemusic/assets/icons/latteplaylistempty.png
  styles/youtubemusic/assets/icons/latteprem1.png
  styles/youtubemusic/assets/icons/latteprem2.png
  styles/youtubemusic/assets/icons/latteprem3.png
  styles/youtubemusic/assets/icons/lattepremtitle.png
  styles/youtubemusic/assets/icons/macchiato-playlist.png
  styles/youtubemusic/assets/icons/macchiato.png
  styles/youtubemusic/assets/icons/macchiatoplaylistempty.png
  styles/youtubemusic/assets/icons/macchiatoprem1.png
  styles/youtubemusic/assets/icons/macchiatoprem2.png
  styles/youtubemusic/assets/icons/macchiatoprem3.png
  styles/youtubemusic/assets/icons/macchiatopremtitle.png
  styles/youtubemusic/assets/icons/mocha-playlist.png
  styles/youtubemusic/assets/icons/mocha.png
  styles/youtubemusic/assets/icons/mochaplaylistempty.png
  styles/youtubemusic/assets/icons/mochaprem1.png
  styles/youtubemusic/assets/icons/mochaprem2.png
  styles/youtubemusic/assets/icons/mochaprem3.png
  styles/youtubemusic/assets/icons/mochapremtitle.png
  styles/youtubemusic/assets/latte.webp
  styles/youtubemusic/assets/macchiato.webp
  styles/youtubemusic/assets/mocha.webp
  styles/youtubemusic/catppuccin.user.css
  styles/youtubemusic/src/frappe.css
  styles/youtubemusic/src/latte.css
  styles/youtubemusic/src/macchiato.css
  styles/youtubemusic/src/mocha.css
Labels: youtubemusic

fix: ensure correct `updateURL`
  styles/nitter/catppuccin.user.css
  styles/nixos-search/catppuccin.user.css
  styles/reddit/catppuccin.user.css
Labels: nitter, nixos-search, reddit

fix: incorrect yaml anchor
  src/userstyles.yml
Labels: none

refactor: remove youtubemusic
  styles/youtubemusic/.editorconfig
  styles/youtubemusic/LICENSE
  styles/youtubemusic/assets/catwalk.webp
  styles/youtubemusic/assets/frappe.webp
  styles/youtubemusic/assets/icons/frappe-playlist.png
  styles/youtubemusic/assets/icons/frappe.png
  styles/youtubemusic/assets/icons/frappeplaylistempty.png
  styles/youtubemusic/assets/icons/frappeprem1.png
  styles/youtubemusic/assets/icons/frappeprem2.png
  styles/youtubemusic/assets/icons/frappeprem3.png
  styles/youtubemusic/assets/icons/frappepremtitle.png
  styles/youtubemusic/assets/icons/latte-playlist.png
  styles/youtubemusic/assets/icons/latte.png
  styles/youtubemusic/assets/icons/latteplaylistempty.png
  styles/youtubemusic/assets/icons/latteprem1.png
  styles/youtubemusic/assets/icons/latteprem2.png
  styles/youtubemusic/assets/icons/latteprem3.png
  styles/youtubemusic/assets/icons/lattepremtitle.png
  styles/youtubemusic/assets/icons/macchiato-playlist.png
  styles/youtubemusic/assets/icons/macchiato.png
  styles/youtubemusic/assets/icons/macchiatoplaylistempty.png
  styles/youtubemusic/assets/icons/macchiatoprem1.png
  styles/youtubemusic/assets/icons/macchiatoprem2.png
  styles/youtubemusic/assets/icons/macchiatoprem3.png
  styles/youtubemusic/assets/icons/macchiatopremtitle.png
  styles/youtubemusic/assets/icons/mocha-playlist.png
  styles/youtubemusic/assets/icons/mocha.png
  styles/youtubemusic/assets/icons/mochaplaylistempty.png
  styles/youtubemusic/assets/icons/mochaprem1.png
  styles/youtubemusic/assets/icons/mochaprem2.png
  styles/youtubemusic/assets/icons/mochaprem3.png
  styles/youtubemusic/assets/icons/mochapremtitle.png
  styles/youtubemusic/assets/latte.webp
  styles/youtubemusic/assets/macchiato.webp
  styles/youtubemusic/assets/mocha.webp
  styles/youtubemusic/catppuccin.user.css
  styles/youtubemusic/src/frappe.css
  styles/youtubemusic/src/latte.css
  styles/youtubemusic/src/macchiato.css
  styles/youtubemusic/src/mocha.css
Labels: youtubemusic

fix: ensure correct `updateURL`
  styles/nitter/catppuccin.user.css
  styles/nixos-search/catppuccin.user.css
  styles/reddit/catppuccin.user.css
Labels: nitter, nixos-search, reddit

refactor: update paths
  .github/workflows/readme.yml
  src/generate/deno.json
  src/generate/deno.lock
  src/generate/deps.ts
  src/generate/main.ts
Labels: none

refactor(yaml): remove youtubemusic
  src/userstyles.yml
Labels: none

refactor(yaml): add schema and remove maintainers
  src/userstyles.yml
Labels: none

refactor: oop
  src/generate/deno.json
  src/generate/deno.lock
  src/generate/deps.ts
  src/generate/main.ts
Labels: none

feat: add userstyles.yml & remove youtube music (#8)
  .github/workflows/readme.yml
  generate/deno.json
  generate/deno.lock
  generate/deps.ts
  generate/main.ts
  src/userstyles.schema.json
  src/userstyles.yml
Labels: none

fix: workflow should work fine now
  .github/workflows/readme.yml
  README.md
  src/generate/deno.json
  src/generate/deno.lock
  src/generate/deps.ts
  src/generate/readme.ts
Labels: none

.github/labeler.yml:

searxng: styles/SearXNG/**/*
anilist: styles/anilist/**/*
brave-search: styles/brave-search/**/*
codeberg: styles/codeberg/**/*
deepl: styles/deepl/**/*
elk: styles/elk/**/*
github: styles/github/**/*
hacker-news: styles/hacker-news/**/*
ichi.moe: styles/ichi.moe/**/*
invidious: styles/invidious/**/*
lastfm: styles/lastfm/**/*
libreddit: styles/libreddit/**/*
mastodon: styles/mastodon/**/*
modrinth: styles/modrinth/**/*
nitter: styles/nitter/**/*
nixos-search: styles/nixos-search/**/*
proton: styles/proton/**/*
reddit: styles/reddit/**/*
tutanota: styles/tutanota/**/*
twitch: styles/twitch/**/*
vercel: styles/vercel/**/*
wikiwand: styles/wikiwand/**/*
youtube: styles/youtube/**/*
youtubemusic: styles/youtubemusic/**/*
