Repository catppuccin/userstyles, pull requests merged in 2023-11, with the labels that each got.

#290 docs: recommend `Custom included sites` setting
  src/userstyles.yml
  styles/mastodon/README.md
  styles/searxng/README.md
Labels: searxng, mastodon

#289 fix(github): use accent color for topic tags
  styles/github/catppuccin.user.css
Labels: github

#291 fix(canvas-lms): broken file preview bug
  styles/canvas-lms/catppuccin.user.css
Labels: canvas-lms

#293 Small various bug fixes
  styles/stylus/catppuccin.user.css
  styles/youtube/catppuccin.user.css
Labels: youtube, stylus

#294 fix(yt): buttons here and there
  styles/youtube/catppuccin.user.css
Labels: youtube

#296 fix(pinterest): a lot of fixes
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#297 fix(deepl): flex-shrink in zen mode
  styles/deepl/catppuccin.user.css
Labels: deepl

#298 fix(yt): buttons coloring
  styles/youtube/catppuccin.user.css
Labels: youtube

#299 fix(yt): why so many buttons
  styles/youtube/catppuccin.user.css
Labels: youtube

#306 fix(github): various fixes
  styles/github/catppuccin.user.css
Labels: github

#307 fix(yt): various fixes
  styles/youtube/catppuccin.user.css
Labels: youtube

#309 fix(youtube): video player contextmenu checkbox color
  styles/youtube/catppuccin.user.css
Labels: youtube

#310 Fix Verified Badge Coloring
  styles/instagram/catppuccin.user.css
Labels: instagram

#313 fix(yt): Fix a few buttons
  styles/youtube/catppuccin.user.css
Labels: youtube

#311 refactor(treewide): `url("data:image/svg+xml,@{svg}")`
  styles/hacker-news/catppuccin.user.css
  styles/invidious/catppuccin.user.css
  styles/mastodon/catppuccin.user.css
  styles/youtube/catppuccin.user.css
Labels: youtube, hacker-news, invidious, mastodon

#320 fix(tutanota): update domain
  styles/tutanota/catppuccin.user.css
Labels: tutanota

#323 fix(treewide): enforce `catppuccin/userstyles` code standards
  src/deno.json
  src/deno.lock
  src/lint/logger.ts
  src/lint/main.ts
  src/lint/stylelint.ts
  styles/advent-of-code/catppuccin.user.css
  styles/anilist/catppuccin.user.css
  styles/boringproxy/catppuccin.user.css
  styles/brave-search/catppuccin.user.css
  styles/bstats/catppuccin.user.css
  styles/canvas-lms/catppuccin.user.css
  styles/chatgpt/catppuccin.user.css
  styles/chatreplay/catppuccin.user.css
  styles/chess.com/catppuccin.user.css
  styles/cinny/catppuccin.user.css
  styles/codeberg/catppuccin.user.css
  styles/crowdin/catppuccin.user.css
  styles/deepl/catppuccin.user.css
  styles/ecosia/catppuccin.user.css
  styles/elk/catppuccin.user.css
  styles/formative/catppuccin.user.css
  styles/github/catppuccin.user.css
  styles/gmail/catppuccin.user.css
  styles/hacker-news/catppuccin.user.css
  styles/homepage/catppuccin.user.css
  styles/hoppscotch/catppuccin.user.css
  styles/ichi.moe/catppuccin.user.css
  styles/instagram/catppuccin.user.css
  styles/invidious/catppuccin.user.css
  styles/invokeai/catppuccin.user.css
  styles/lastfm/catppuccin.user.css
  styles/libreddit/catppuccin.user.css
  styles/linkedin/catppuccin.user.css
  styles/mastodon/catppuccin.user.css
  styles/modrinth/catppuccin.user.css
  styles/nitter/catppuccin.user.css
  styles/nixos-search/catppuccin.user.css
  styles/nixos.wiki/catppuccin.user.css
  styles/paste.rs/catppuccin.user.css
  styles/pinterest/catppuccin.user.css
  styles/planet-minecraft/catppuccin.user.css
  styles/proton/catppuccin.user.css
  styles/quizlet/catppuccin.user.css
  styles/reddit/catppuccin.user.css
  styles/searxng/catppuccin.user.css
  styles/startpage/catppuccin.user.css
  styles/stylus/catppuccin.user.css
  styles/substack/catppuccin.user.css
  styles/syncthing/catppuccin.user.css
  styles/tutanota/catppuccin.user.css
  styles/twitch/catppuccin.user.css
  styles/vercel/catppuccin.user.css
  styles/whatsapp-web/catppuccin.user.css
  styles/wikiwand/catppuccin.user.css
  styles/youtube/catppuccin.user.css
  template/catppuccin.user.css
Labels: youtube, searxng, anilist, brave-search, codeberg, deepl, elk, github, hacker-news, ichi.moe, invidious, lastfm, reddit, libreddit, mastodon, modrinth, nitter, proton, tutanota, twitch, vercel, wikiwand, nixos-search, cinny, whatsapp-web, crowdin, invokeai, advent-of-code, paste.rs, chatgpt, quizlet, ecosia, canvas-lms, homepage, chess.com, substack, chatreplay, formative, boringproxy, bstats, hoppscotch, startpage, planet-minecraft, stylus, syncthing, pinterest, nixos.wiki, linkedin, gmail, instagram

#333 refactor(reddit): move to less
  styles/reddit/catppuccin.user.css
Labels: reddit

#334 fix(github): some fixes
  styles/github/catppuccin.user.css
Labels: github

#321 fix(chatgpt): fix new ui + accent colours
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#336 fix(yt): use base for more backgrounds
  styles/youtube/catppuccin.user.css
Labels: youtube

#337 fix(pinterest): various fixes again
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#345 fix(skiff): few missed spots
  styles/skiff/catppuccin.user.css
Labels: skiff

#349 fix(brave): settings page
  styles/brave-search/catppuccin.user.css
Labels: brave-search

#351 feat(invidious): rework & update
  styles/invidious/catppuccin.user.css
Labels: invidious

#354 fix: avoid extra url-prefix when possible
  styles/gmail/catppuccin.user.css
  styles/hacker-news/catppuccin.user.css
  styles/skiff/catppuccin.user.css
Labels: hacker-news, gmail, skiff

#355 fix(youtube): overlay effect, used on clips mainly
  styles/youtube/catppuccin.user.css
Labels: youtube

#359 fix(youtube): end cards
  styles/youtube/catppuccin.user.css
Labels: youtube

#362 fix(chatgpt): css variable typo
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#338 refactor(github): make more similar to default github
  styles/github/catppuccin.user.css
Labels: github
