Repository catppuccin/userstyles, pull requests merged in 2023-12, with the labels that each got.

#371 fix(stylus): background color when having multiple codes
  styles/stylus/catppuccin.user.css
Labels: stylus

#372 fix(stylus): some color when opening the extension from tab or smth
  styles/stylus/catppuccin.user.css
Labels: stylus

#373 fix(google): color logo in images tab
  styles/google/catppuccin.user.css
Labels: google

#375 fix(reddit): color the recap logo
  styles/reddit/catppuccin.user.css
Labels: reddit

#377 feat(whatsapp): split flavor variable into light and dark
  styles/whatsapp-web/catppuccin.user.css
Labels: whatsapp-web

#376 fix(reddit): notification icon text color
  styles/reddit/catppuccin.user.css
Labels: reddit

#370 fix: youtube error page background
  styles/youtube/catppuccin.user.css
Labels: youtube

#378 feat(proton): split flavor variable into light and dark
  styles/proton/catppuccin.user.css
Labels: proton

#366 fix: Instagram Share box colors
  styles/instagram/catppuccin.user.css
Labels: instagram

#379 fix(youtube): search icon in result list
  styles/youtube/catppuccin.user.css
Labels: youtube

#380 fix(youtube): voice color
  styles/youtube/catppuccin.user.css
Labels: youtube

#383 fix(insta): usage
  styles/instagram/catppuccin.user.css
Labels: instagram

#384 fix(yt): match the defaults closer
  styles/youtube/catppuccin.user.css
Labels: youtube

#385 fix(youtube): theme the icons in the sidebar
  styles/youtube/catppuccin.user.css
Labels: youtube

#386 fix(yt): the location of the yt services are variable to change
  styles/youtube/catppuccin.user.css
Labels: youtube

#391 fix(github): some unthemed elements
  styles/github/catppuccin.user.css
Labels: github

#389 fix(nixos.wiki): fix diff highlighting
  styles/nixos.wiki/catppuccin.user.css
Labels: nixos.wiki

#392 fix: youtube ambient mode + typo
  styles/youtube/catppuccin.user.css
Labels: youtube

#395 fix(youtube): sidebar icon colors broke after previous commit
  styles/youtube/catppuccin.user.css
Labels: youtube

#397 ci: rename dir to fix `generate` script
  styles/tuta/README.md
  styles/tuta/assets/catwalk.webp
  styles/tuta/assets/frappe.webp
  styles/tuta/assets/latte.webp
  styles/tuta/assets/macchiato.webp
  styles/tuta/assets/mocha.webp
  styles/tuta/catppuccin.user.css
Labels: tuta

#398 fix(tuta): update metadata
  styles/tuta/catppuccin.user.css
Labels: tuta

#400 feat: start supporting supportURL
  scripts/lint/metadata.ts
  styles/advent-of-code/catppuccin.user.css
  styles/anilist/catppuccin.user.css
  styles/boringproxy/catppuccin.user.css
  styles/brave-search/catppuccin.user.css
  styles/bstats/catppuccin.user.css
  styles/canvas-lms/catppuccin.user.css
  styles/chatgpt/catppuccin.user.css
  styles/chatreplay/catppuccin.user.css
  styles/chess.com/catppuccin.user.css
  styles/cinny/catppuccin.user.css
  styles/codeberg/catppuccin.user.css
  styles/crowdin/catppuccin.user.css
  styles/deepl/catppuccin.user.css
  styles/ecosia/catppuccin.user.css
  styles/elk/catppuccin.user.css
  styles/formative/catppuccin.user.css
  styles/github/catppuccin.user.css
  styles/gmail/catppuccin.user.css
  styles/google/catppuccin.user.css
  styles/hacker-news/catppuccin.user.css
  styles/homepage/catppuccin.user.css
  styles/hoppscotch/catppuccin.user.css
  styles/ichi.moe/catppuccin.user.css
  styles/instagram/catppuccin.user.css
  styles/invidious/catppuccin.user.css
  styles/invokeai/catppuccin.user.css
  styles/lastfm/catppuccin.user.css
  styles/libreddit/catppuccin.user.css
  styles/lichess/catppuccin.user.css
  styles/linkedin/catppuccin.user.css
  styles/mastodon/catppuccin.user.css
  styles/modrinth/catppuccin.user.css
  styles/nitter/catppuccin.user.css
  styles/nixos-search/catppuccin.user.css
  styles/nixos.wiki/catppuccin.user.css
  styles/paste.rs/catppuccin.user.css
  styles/pinterest/catppuccin.user.css
  styles/planet-minecraft/catppuccin.user.css
  styles/proton/catppuccin.user.css
  styles/quizlet/catppuccin.user.css
  styles/reddit/catppuccin.user.css
  styles/searxng/catppuccin.user.css
  styles/skiff/catppuccin.user.css
  styles/spotify-web/catppuccin.user.css
  styles/startpage/catppuccin.user.css
  styles/stylus/catppuccin.user.css
  styles/substack/catppuccin.user.css
  styles/syncthing/catppuccin.user.css
  styles/tuta/catppuccin.user.css
  styles/twitch/catppuccin.user.css
  styles/vercel/catppuccin.user.css
  styles/whatsapp-web/catppuccin.user.css
  styles/wikiwand/catppuccin.user.css
  styles/youtube/catppuccin.user.css
  template/catppuccin.user.css
Labels: youtube, searxng, anilist, brave-search, codeberg, deepl, elk, github, hacker-news, ichi.moe, invidious, lastfm, reddit, libreddit, mastodon, modrinth, nitter, proton, twitch, vercel, wikiwand, nixos-search, cinny, whatsapp-web, crowdin, invokeai, advent-of-code, paste.rs, chatgpt, quizlet, ecosia, canvas-lms, homepage, chess.com, substack, chatreplay, formative, boringproxy, bstats, hoppscotch, startpage, planet-minecraft, stylus, syncthing, pinterest, nixos.wiki, linkedin, gmail, instagram, spotify-web, skiff, lichess, google, tuta

#402 ci(lint): validate `name` metadata
  deno.json
  scripts/lint/main.ts
  scripts/lint/metadata.ts
  scripts/sync-maintainers/main.ts
  scripts/utils.ts
  styles/anilist/catppuccin.user.css
  styles/chess.com/catppuccin.user.css
  styles/github/catppuccin.user.css
  styles/hacker-news/catppuccin.user.css
  styles/hoppscotch/catppuccin.user.css
  styles/lichess/catppuccin.user.css
  styles/reddit/catppuccin.user.css
  styles/whatsapp-web/catppuccin.user.css
  styles/wikiwand/catppuccin.user.css
Labels: anilist, github, hacker-news, reddit, wikiwand, whatsapp-web, chess.com, hoppscotch, lichess

#403 chore: properly capitalize names
  .github/labels.yml
  scripts/userstyles.yml
  styles/lichess/catppuccin.user.css
  styles/wikiwand/catppuccin.user.css
Labels: wikiwand, lichess

#382 docs: add `looking for maintainers` section
  .github/CODEOWNERS
  deno.lock
  scripts/generate/main.ts
  scripts/generate/templates/userstyle.md
  scripts/types/userstyles.d.ts
  scripts/userstyles.schema.json
  scripts/userstyles.yml
  styles/chatgpt/README.md
  styles/github/README.md
  styles/paste.rs/README.md
  styles/reddit/README.md
Labels: github, reddit, paste.rs, chatgpt

#408 fix(substack): `color-scheme` and comment scrollbars
  styles/substack/catppuccin.user.css
Labels: substack

#410 fix(nixos.wiki): search color
  styles/nixos.wiki/catppuccin.user.css
Labels: nixos.wiki

#412 feat(google): split flavor variable into light and dark
  styles/google/catppuccin.user.css
Labels: google

#413 fix(whatsapp): caption when forwarding media
  styles/whatsapp-web/catppuccin.user.css
Labels: whatsapp-web

#417 fix(deepl): glossary pop-up
  styles/deepl/catppuccin.user.css
Labels: deepl

#416 fix(lastfm): Style error page
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#415 feat(hacker-news): split flavor variable into light and dark
  styles/hacker-news/catppuccin.user.css
Labels: hacker-news

#418 fix: missed a few lint annotations
  styles/deepl/catppuccin.user.css
  styles/lastfm/catppuccin.user.css
Labels: deepl, lastfm

#421 fix(nixos.wiki): page headers & shebangs
  styles/nixos.wiki/catppuccin.user.css
Labels: nixos.wiki

#423 fix(github): regex
  styles/github/catppuccin.user.css
Labels: github
