Repository catppuccin/userstyles, pull requests merged in 2023-09, with the labels that each got.

#186 feat(chatgpt): highlightjs
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#188 feat(chatgpt): use highlightjs import
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#193 fix(proton): style upgrade button
  styles/proton/catppuccin.user.css
Labels: proton

#192 fix(hackernews): login page text color
  styles/hacker-news/catppuccin.user.css
Labels: hacker-news

#177 Update catppuccin.user.css
  styles/deepl/catppuccin.user.css
Labels: deepl

#195 fix(tutanota): color replacements for most UI elements
  styles/tutanota/catppuccin.user.css
Labels: tutanota

#199 fix(reddit): codeblocks
  styles/reddit/catppuccin.user.css
Labels: reddit

#198 fix(vercel): landing card grid gradient
  styles/vercel/catppuccin.user.css
Labels: vercel

#201 fix(bstats): improve highcharts theming
  styles/bstats/assets/catwalk.webp
  styles/bstats/assets/frappe.webp
  styles/bstats/assets/latte.webp
  styles/bstats/assets/macchiato.webp
  styles/bstats/assets/mocha.webp
  styles/bstats/catppuccin.user.css
Labels: bstats

#205 fix(twitch): fix colouring
  styles/twitch/catppuccin.user.css
Labels: twitch

#206 feat(bstats): more highcharts theming
  styles/bstats/catppuccin.user.css
Labels: bstats

#209 feat(elk): theme select for light/dark mode
  styles/elk/catppuccin.user.css
Labels: elk

#210 chore(elk): bump to v0.2.1
  styles/elk/catppuccin.user.css
Labels: elk

#211 feat(vercel): theme select for light/dark mode
  styles/vercel/catppuccin.user.css
Labels: vercel

#216 fix(twitch): Make text readable when using theater mode
  styles/twitch/catppuccin.user.css
Labels: twitch

#218 fix(bstats): various fixes
  styles/bstats/catppuccin.user.css
Labels: bstats

#219 fix(twitch): Make text readable in miscellaneous sections
  styles/twitch/catppuccin.user.css
Labels: twitch

#222 fix(mastodon): overlaying profile header
  styles/mastodon/catppuccin.user.css
Labels: bug, mastodon

#225 fix(youtube): match colors of topbar menu icons
  styles/youtube/catppuccin.user.css
Labels: youtube

#227 fix(twitch): Make text in vods readable
  styles/twitch/catppuccin.user.css
Labels: twitch

#228 fix(twitch): Make text on offline screen readable
  styles/twitch/catppuccin.user.css
Labels: twitch

#226 Brave Search – remove searchbar background gradient
  styles/brave-search/catppuccin.user.css
Labels: bug, brave-search

#229 fix(chatgpt): boxes color and highlighting
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#223 fix(proton): update styles
  styles/proton/catppuccin.user.css
Labels: proton

#234 fix(github): move warning to the left so that users can still access settings and signin
  styles/github/catppuccin.user.css
Labels: github
