Repository catppuccin/userstyles, pull requests merged in 2023-08, with the labels that each got.

#155 fix(youtube): patches for player controls
  styles/youtube/catppuccin.user.css
Labels: youtube

#156 fix(github): update dark theme conditions
  styles/github/catppuccin.user.css
Labels: github

#157 fix(chatgpt): style btn-danger
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#161 fix: now works on default firefox
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#162 fix(modrinth): Userstyle did not work with some urls
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#154 feat(github): enforce built-in theme
  src/userstyles.yml
  styles/github/README.md
  styles/github/catppuccin.user.css
Labels: github

#170 fix(mastodon): search popout themeing
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#168 fix(anilist): overylay text
  styles/anilist/catppuccin.user.css
Labels: anilist

#171 fix(github) - Fixed missing work on the code explorer and changed two small ui pieces to accent color
  styles/github/catppuccin.user.css
Labels: github

#172 fix(github): broken bg on smaller pages
  styles/github/catppuccin.user.css
Labels: github

#173 fix(github) - Fixed a lot of missing UI changes and adjusted some existing changes
  styles/github/catppuccin.user.css
Labels: github

#180 edit colors to better fit the catppuccin color scheme guides
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#181 fix(mastodon): theme notif icon
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#182 Improvements to mastodon's coloring
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#184 fix(mastodon): user/hashtag mention
  styles/mastodon/catppuccin.user.css
Labels: mastodon
