Repository catppuccin/userstyles, pull requests merged in 2023-10, with the labels that each got.

#235 fix(chatgpt): lightmode improvments
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#237 fix(github): ignore homepage / not loggedin
  styles/github/catppuccin.user.css
Labels: github

#239 fix(twitch): Make text on front page readable
  styles/twitch/catppuccin.user.css
Labels: twitch

#241 fix(twitch): chat theming
  styles/twitch/catppuccin.user.css
Labels: twitch

#240 fix(searxng): improve metadata readability
  styles/searxng/catppuccin.user.css
Labels: searxng

#243 fix(twitch): Update pinned message background color
  styles/twitch/catppuccin.user.css
Labels: twitch

#245 fix(twitch): Make text in viewercard readable
  styles/twitch/catppuccin.user.css
Labels: twitch

#247 Fix previews for startpage
  styles/startpage/assets/catwalk.webp
  styles/startpage/assets/frappe.webp
  styles/startpage/assets/latte.webp
  styles/startpage/assets/macchiato.webp
  styles/startpage/assets/mocha.webp
Labels: startpage

#249 fix(youtube): contrast issues
  styles/youtube/catppuccin.user.css
Labels: youtube

#250 fix(youtube): readablity
  styles/youtube/catppuccin.user.css
Labels: youtube

#251 chore(youtube): bump to 3.0.12
  styles/youtube/catppuccin.user.css
Labels: youtube

#253 fix(twitch): Make text readable in miscellaneous sections
  styles/twitch/catppuccin.user.css
Labels: twitch

#254 Color stuff on the "Login" popup
  styles/twitch/catppuccin.user.css
Labels: twitch

#255 text -> @text
  styles/twitch/catppuccin.user.css
Labels: twitch

#252 docs(github): mention GitHub appearance settings
  src/userstyles.yml
  styles/github/catppuccin.user.css
Labels: github

#257 fix(twitch): Make text on offline screen readable
  styles/twitch/catppuccin.user.css
Labels: twitch

#259 fix(syncthing): replace leaky port capture with proper url config
  styles/syncthing/catppuccin.user.css
Labels: syncthing

#260 docs: several error corrections & improved comprehension
  README.md
  docs/CONTRIBUTING.md
  docs/userstyle-creation.md
  src/userstyles.yml
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#264 fix: redo whole deepl style
  styles/deepl/catppuccin.user.css
Labels: deepl

#265 fix(planet-minecraft): properly theme notifs
  styles/planet-minecraft/catppuccin.user.css
Labels: planet-minecraft

#269 fix(stylus): disabled button state
  styles/stylus/catppuccin.user.css
Labels: stylus

#268 fix(stylus): dark+light mode problem (again x2)
  styles/stylus/catppuccin.user.css
Labels: stylus

#271 fix(substack): minor fixes
  styles/substack/catppuccin.user.css
Labels: substack

#272 feat(codeberg): LESS rewrite
  styles/codeberg/README.md
  styles/codeberg/assets/catwalk.webp
  styles/codeberg/assets/frappe.webp
  styles/codeberg/assets/latte.webp
  styles/codeberg/assets/macchiato.webp
  styles/codeberg/assets/mocha.webp
  styles/codeberg/catppuccin.user.css
  styles/hoppscotch/catppuccin.user.css
Labels: codeberg, hoppscotch

#273 feat(cinny): update for Cinny v3.0
  styles/cinny/assets/catwalk.webp
  styles/cinny/assets/frappe.webp
  styles/cinny/assets/latte.webp
  styles/cinny/assets/macchiato.webp
  styles/cinny/assets/mocha.webp
  styles/cinny/catppuccin.user.css
Labels: cinny

#276 feat(yt): improve scroll bar
  styles/youtube/catppuccin.user.css
Labels: youtube

#279 Fix/GitHub
  styles/github/catppuccin.user.css
Labels: github

#278 fix(planet-minecraft): better servers page
  styles/planet-minecraft/catppuccin.user.css
Labels: planet-minecraft

#280 add wetdry.world to mastodon
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#282 feat(mastodon): extend glitchsoc application
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#283 feat(youtube): new ui just dropped
  styles/youtube/catppuccin.user.css
Labels: youtube

#287 fix(chatgpt): unthemed main section
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt
