Repository catppuccin/userstyles, pull requests merged in 2023-07, with the labels that each got.

#47 chore: en-GB -> en-US
  .github/ISSUE_TEMPLATE/userstyle.yml
  src/generate/templates/userstyle-issue.yml
  styles/anilist/catppuccin.user.css
  styles/deepl/catppuccin.user.css
  styles/elk/catppuccin.user.css
  styles/ichi.moe/catppuccin.user.css
  styles/lastfm/catppuccin.user.css
  styles/libreddit/catppuccin.user.css
  styles/mastodon/catppuccin.user.css
  styles/modrinth/catppuccin.user.css
  styles/nitter/catppuccin.user.css
  styles/nixos-search/catppuccin.user.css
  styles/proton/catppuccin.user.css
  styles/tutanota/catppuccin.user.css
  styles/twitch/catppuccin.user.css
  styles/wikiwand/catppuccin.user.css
  styles/youtube/catppuccin.user.css
  template/catppuccin.user.css
Labels: youtube, anilist, deepl, elk, ichi.moe, lastfm, libreddit, mastodon, modrinth, nitter, proton, tutanota, twitch, wikiwand, nixos-search

#77 fix(cinny): fix sidebar color and add missing previews
  src/userstyles.yml
  styles/cinny/assets/catwalk.webp
  styles/cinny/assets/frappe.webp
  styles/cinny/assets/latte.webp
  styles/cinny/assets/macchiato.webp
  styles/cinny/assets/mocha.webp
  styles/cinny/catppuccin.user.css
Labels: cinny

#99 chess.com: fix incorrect catwalk filename
  styles/chess.com/assets/catwalk.webp
Labels: chess.com

#101 fix(youtube): missing closing bracket
  styles/youtube/catppuccin.user.css
Labels: youtube

#102 fix: escocia var names
  styles/ecosia/catppuccin.user.css
Labels: ecosia

#103 refactor: convert github to less
  styles/github/catppuccin.user.css
Labels: github

#107 fix: for https://github.com/catppuccin/userstyles/issues/95
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#104 fix: deepl
  styles/deepl/catppuccin.user.css
Labels: deepl

#106 fix(twitch): enforce userstyles practices & overlay text
  styles/twitch/catppuccin.user.css
Labels: twitch

#110 fix(twitch): Fix darkTheme json
  styles/twitch/catppuccin.user.css
Labels: twitch

#114 eforce userstyles standards
  styles/advent-of-code/catppuccin.user.css
  styles/anilist/catppuccin.user.css
  styles/brave-search/catppuccin.user.css
  styles/canvas-lms/catppuccin.user.css
  styles/chatgpt/catppuccin.user.css
  styles/chess.com/catppuccin.user.css
  styles/cinny/catppuccin.user.css
  styles/codeberg/catppuccin.user.css
  styles/crowdin/catppuccin.user.css
  styles/deepl/catppuccin.user.css
  styles/ecosia/catppuccin.user.css
  styles/elk/catppuccin.user.css
  styles/github/catppuccin.user.css
  styles/hacker-news/catppuccin.user.css
  styles/homepage/catppuccin.user.css
  styles/ichi.moe/catppuccin.user.css
  styles/invidious/catppuccin.user.css
  styles/invokeai/catppuccin.user.css
  styles/lastfm/catppuccin.user.css
  styles/libreddit/catppuccin.user.css
  styles/mastodon/catppuccin.user.css
  styles/modrinth/catppuccin.user.css
  styles/nitter/catppuccin.user.css
  styles/nixos-search/catppuccin.user.css
  styles/paste.rs/catppuccin.user.css
  styles/proton/catppuccin.user.css
  styles/quizlet/catppuccin.user.css
  styles/reddit/catppuccin.user.css
  styles/searxng/catppuccin.user.css
  styles/tutanota/catppuccin.user.css
  styles/twitch/catppuccin.user.css
  styles/vercel/catppuccin.user.css
  styles/whatsapp-web/catppuccin.user.css
  styles/wikiwand/catppuccin.user.css
  styles/youtube/catppuccin.user.css
  template/catppuccin.user.css
Labels: youtube, searxng, anilist, brave-search, codeberg, deepl, elk, github, hacker-news, ichi.moe, invidious, lastfm, reddit, libreddit, mastodon, modrinth, nitter, proton, tutanota, twitch, vercel, wikiwand, nixos-search, cinny, whatsapp-web, crowdin, invokeai, advent-of-code, paste.rs, chatgpt, quizlet, ecosia, canvas-lms, homepage, chess.com

#122 fix(vercel): update variables and classes
  styles/vercel/catppuccin.user.css
Labels: vercel

#125 fix(vercel): flavor
  styles/vercel/catppuccin.user.css
Labels: vercel

#124 fix(modrinth): handle OLED mode
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#120 feat(github): add `accent-color` property
  styles/github/catppuccin.user.css
Labels: github

#121 feat(github): style the progress bar
  styles/github/catppuccin.user.css
Labels: github

#126 refactor(nixos-search): ensure that the theme is the same/similar to template
  styles/nixos-search/catppuccin.user.css
Labels: nixos-search

#128 fix(chatgpt): fix selector for conversations
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#131 fix: @rgbify returning [object Object]
  styles/whatsapp-web/catppuccin.user.css
Labels: whatsapp-web

#123 fix(modrinth): style ad links as accent color
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#134 fix(proton): ring and active color
  styles/proton/catppuccin.user.css
Labels: proton

#135 fix(proton): email item text color on hover
  styles/proton/catppuccin.user.css
Labels: proton

#118 feat(searxng): add accent support and fix auto themes
  .gitignore
  styles/searxng/catppuccin.user.css
Labels: searxng

#133 fix: correct the typos
  .typos.toml
  styles/chess.com/catppuccin.user.css
  styles/deepl/catppuccin.user.css
  styles/ecosia/catppuccin.user.css
  styles/homepage/catppuccin.user.css
  styles/lastfm/catppuccin.user.css
  styles/paste.rs/catppuccin.user.css
  styles/youtube/catppuccin.user.css
Labels: youtube, deepl, lastfm, paste.rs, ecosia, homepage, chess.com

#138 fix(proton): wrong updateURL
  styles/proton/catppuccin.user.css
Labels: proton

#139 fix(mastodon): fill unthemed sections
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#140 fix(github): fix unthemed sections
  styles/github/catppuccin.user.css
Labels: github

#145 fix(github): text readablity at actions startup
  styles/github/catppuccin.user.css
Labels: github

#146 feat(nixos-search): independent light/dark mode flavors
  styles/nixos-search/catppuccin.user.css
Labels: nixos-search

#148 fix(proton): lighten colors on latte
  styles/proton/catppuccin.user.css
Labels: proton

#149 feat(proton): accent-colored logos
  styles/proton/catppuccin.user.css
Labels: proton

#150 fix(proton): tooltip color
  styles/proton/catppuccin.user.css
Labels: proton

#152 fix(proton): interaction-weak color
  styles/proton/catppuccin.user.css
Labels: proton

#153 fix invalid @updateURLs
  styles/mastodon/catppuccin.user.css
  styles/modrinth/catppuccin.user.css
Labels: mastodon, modrinth
