Repository catppuccin/userstyles, pull requests merged in 2024-12, with the labels that each got.

#1474 fix(twitch): latte & clips fixes
  styles/twitch/catppuccin.user.css
Labels: twitch

#1478 fix(github): apply on image diffs
  styles/github/catppuccin.user.css
Labels: github

#1479 feat(github): new copilot chat
  styles/github/catppuccin.user.css
Labels: github

#1480 fix(github): new diff view
  styles/github/catppuccin.user.css
Labels: github

#1482 fix(wikipedia): text color of citation pop-up
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#1483 fix(youtube): texts of Live chat replay and AI-generated video summary
  styles/youtube/catppuccin.user.css
Labels: youtube

#1487 fix(youtube): search bar
  styles/youtube/catppuccin.user.css
Labels: youtube

#1493 fix(youtube): live chat replay
  styles/youtube/catppuccin.user.css
Labels: youtube

#1495 fix(github): mermaid diagrams
  styles/github/catppuccin.user.css
Labels: github

#1504 fix(github): neutral fg color var
  styles/github/catppuccin.user.css
Labels: github

#1410 fix(google-gemini): misc
  styles/google-gemini/catppuccin.user.css
Labels: google-gemini

#1513 fix(youtube): shorts titles and views
  styles/youtube/catppuccin.user.css
Labels: youtube

#1511 refactor(treewide): cleanup and use rgbify mixin
  docs/SUMMARY.md
  docs/guide/README.md
  docs/guide/raw-color-values.md
  docs/guide/rgb-values.md
  styles/amplenote/catppuccin.user.css
  styles/anilist/catppuccin.user.css
  styles/chatgpt/catppuccin.user.css
  styles/crates.io/catppuccin.user.css
  styles/elk/catppuccin.user.css
  styles/google-drive/catppuccin.user.css
  styles/google-gemini/catppuccin.user.css
  styles/google/catppuccin.user.css
  styles/instagram/catppuccin.user.css
  styles/lastfm/catppuccin.user.css
  styles/lemmy/catppuccin.user.css
  styles/mdbook/catppuccin.user.css
  styles/namemc/catppuccin.user.css
  styles/nitter/catppuccin.user.css
  styles/ollama/catppuccin.user.css
  styles/perplexity/catppuccin.user.css
  styles/pronouns.cc/catppuccin.user.css
  styles/pronouns.page/catppuccin.user.css
  styles/stack-overflow/catppuccin.user.css
  styles/substack/catppuccin.user.css
  styles/trinket/catppuccin.user.css
  styles/vercel/catppuccin.user.css
  styles/whatsapp-web/catppuccin.user.css
Labels: anilist, elk, lastfm, nitter, vercel, whatsapp-web, chatgpt, substack, instagram, google, lemmy, perplexity, pronouns.page, trinket, google-drive, crates.io, mdbook, stack-overflow, google-gemini, amplenote, ollama, namemc, pronouns.cc

#1526 fix(github): logged out header search placeholder text, diff hunk bg
  styles/github/catppuccin.user.css
Labels: github

#1515 fix(youtube): description how this was made section
  styles/youtube/catppuccin.user.css
Labels: youtube

#1527 fix(mastodon): style buttons with `active` class
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#1521 fix(npm): misc
  styles/npm/catppuccin.user.css
Labels: npm

#1532 feat(stack-overflow): support crypto.stackexchange.com
  styles/stack-overflow/catppuccin.user.css
Labels: stack-overflow

#1530 fix(wikiwand): system theme
  styles/wikiwand/catppuccin.user.css
Labels: wikiwand

#1509 fix(github): customer terms page
  styles/github/catppuccin.user.css
Labels: github

#1539 fix(youtube): create button in header
  styles/youtube/catppuccin.user.css
Labels: youtube

#1548 refactor(seventv): cleanup
  scripts/userstyles.yml
  styles/seventv/catppuccin.user.less
Labels: seventv
