Repository catppuccin/userstyles, pull requests merged in 2024-09, with the labels that each got.

#1256 fix(google): unthemed elements
  styles/google/catppuccin.user.css
Labels: google

#1259 feat(youtube): add ambient mode for shorts
  styles/youtube/catppuccin.user.css
Labels: youtube

#1263 fix(github): invisible button fg color
  styles/github/catppuccin.user.css
Labels: github

#1255 fix(arch-wiki): containers displayed with wrong colors
  styles/arch-wiki/catppuccin.user.css
Labels: arch-wiki

#1267 fix(youtube): top bar header
  styles/youtube/catppuccin.user.css
Labels: youtube

#1270 fix(youtube): misc elements and adjust background colors
  styles/youtube/catppuccin.user.css
Labels: youtube

#1249 fix(namemc): requested changes
  styles/namemc/catppuccin.user.css
Labels: namemc

#1277 fix(treewide): accurate syntax highlighting colors
  styles/cinny/catppuccin.user.css
  styles/docs.rs/catppuccin.user.css
  styles/github/catppuccin.user.css
  styles/mdn/catppuccin.user.css
  styles/npm/catppuccin.user.css
  styles/paste.rs/catppuccin.user.css
  styles/stylus/catppuccin.user.css
  styles/trinket/catppuccin.user.css
  styles/vercel/catppuccin.user.css
  styles/web.dev/catppuccin.user.css
Labels: github, vercel, cinny, paste.rs, stylus, mdn, npm, trinket, docs.rs, web.dev

#1274 fix(google-drive): update logo selector
  styles/google-drive/catppuccin.user.css
Labels: google-drive

#1280 fix(youtube): video highlight
  styles/youtube/catppuccin.user.css
Labels: youtube

#1282 fix(youtube): change 1px to 0
  styles/youtube/catppuccin.user.css
Labels: youtube

#1279 fix(github): header search icon when logged out
  styles/github/catppuccin.user.css
Labels: github

#1281 fix(gmail): update header icons and search bar selectors, banner message
  styles/gmail/catppuccin.user.css
Labels: gmail

#1287 refactor(cobalt): support for new ui
  styles/cobalt/catppuccin.user.css
Labels: cobalt

#1285 fix(gmail): header icons and search bar, other tooltip variant
  styles/gmail/catppuccin.user.css
Labels: gmail

#1288 fix(cobalt): applicator selectors & unthemed vars
  styles/cobalt/catppuccin.user.css
Labels: cobalt

#1289 fix(cobalt): sidebar hover & donation page
  styles/cobalt/catppuccin.user.css
Labels: cobalt

#1286 fix(hacker-news): set body text color
  styles/hacker-news/catppuccin.user.css
Labels: hacker-news

#1294 fix(github): updated enhanced repo insights views
  styles/github/catppuccin.user.css
Labels: github

#1290 fix(google): search console box
  styles/google/catppuccin.user.css
Labels: google

#1295 fix(hacker-news): use accent for brand, link & selection colors
  styles/hacker-news/catppuccin.user.css
Labels: hacker-news

#1296 fix(paste.rs): syntax highlighting token selectors, code background
  styles/paste.rs/catppuccin.user.css
Labels: paste.rs

#1292 fix(stylus): delete button
  styles/stylus/catppuccin.user.css
Labels: stylus

#1304 fix(mastodon): add `.theme-system` to applicator selectors
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#1306 fix(vikunja): fix icon buttons & loading spinners
  styles/vikunja/catppuccin.user.css
Labels: vikunja

#1307 fix(youtube): shorts text on homepage
  styles/youtube/catppuccin.user.css
Labels: youtube

#1283 fix(crates.io): misc
  styles/crates.io/catppuccin.user.css
Labels: crates.io

#1313 fix(mastodon): about page
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#1310 fix(npm): misc
  styles/npm/catppuccin.user.css
Labels: npm

#1312 fix(stack-overflow): unix stackexchange
  styles/stack-overflow/catppuccin.user.css
Labels: stack-overflow

#1308 fix(youtube): misc
  styles/youtube/catppuccin.user.css
Labels: youtube

#1299 fix(google): misc
  styles/google/catppuccin.user.css
Labels: google

#1317 fix(youtube): revert `--yt-spec-raised-background` back to base
  styles/youtube/catppuccin.user.css
Labels: youtube

#1320 fix(migadu-webmail): misc
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#1303 fix(duckduckgo): light theme flash on page load
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#1322 fix(linkedin): invert text color
  styles/linkedin/catppuccin.user.css
Labels: linkedin

#1319 fix(inoreader): article text & progress bar
  styles/inoreader/catppuccin.user.css
Labels: inoreader

#1315 fix(youtube): shorts progress bar
  styles/youtube/catppuccin.user.css
Labels: youtube

#1325 refactor(substack): rewrite
  styles/substack/catppuccin.user.css
Labels: substack

#1329 fix(linkedin): editing pfp visablity on latte
  styles/linkedin/catppuccin.user.css
Labels: linkedin

#1332 fix(substack): misc
  styles/substack/catppuccin.user.css
Labels: substack

#1338 fix(lastfm): last.month/info banner
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#1291 fix(modrinth): unthemed elements
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#1334 feat(inoreader): popup menu
  styles/inoreader/catppuccin.user.css
Labels: inoreader
