Repository catppuccin/userstyles, pull requests merged in 2024-07, with the labels that each got.

#1036 fix(twitch): misc accent-related
  styles/twitch/catppuccin.user.css
Labels: twitch

#1034 fix(wikipedia): missing specificity issues
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#1035 fix(go.dev): adjust dark/light application selectors
  styles/go.dev/catppuccin.user.css
Labels: go.dev

#1038 refactor(twitch): clean up unused styles, organize
  styles/twitch/catppuccin.user.css
Labels: twitch

#1045 fix(crates.io): table borders
  styles/crates.io/catppuccin.user.css
Labels: crates.io

#921 refactor(gmail): rewrite
  scripts/userstyles.yml
  styles/gmail/catppuccin.user.css
Labels: gmail

#1043 fix(google-gemini): misc
  styles/google-gemini/catppuccin.user.css
Labels: google-gemini

#1048 fix(pinterest): misc
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#1050 fix(nixos-wiki): unthemed search bar
  styles/nixos.wiki/catppuccin.user.css
Labels: nixos.wiki

#1052 fix(arch-wiki): fix a bunch of broken stuff
  styles/arch-wiki/catppuccin.user.css
Labels: arch-wiki

#1053 fix(porkbun): active button
  styles/porkbun/catppuccin.user.css
Labels: porkbun

#1055 fix(porkbun): success buttons
  styles/porkbun/catppuccin.user.css
Labels: porkbun

#1057 fix(stack-overflow): jobs page
  styles/stack-overflow/catppuccin.user.css
Labels: stack-overflow

#1054 fix(twitch): chat mention backgrounds
  styles/twitch/catppuccin.user.css
Labels: twitch

#1061 fix(chess.com): wrap variables in body selector
  styles/chess.com/catppuccin.user.css
Labels: chess.com

#1058 feat(searxng): use only 2 instances instead of 20+ instances
  styles/searxng/catppuccin.user.css
Labels: searxng

#1062 fix(advent-of-code): unthemed text and hover
  styles/advent-of-code/catppuccin.user.css
Labels: advent-of-code

#1060 feat(npm): home, products, teams, and pro pages
  styles/npm/catppuccin.user.css
Labels: npm

#1070 fix(go.dev): info banner
  styles/go.dev/catppuccin.user.css
Labels: go.dev

#1071 fix(codeberg): secondary menu, inline code
  styles/codeberg/catppuccin.user.css
Labels: codeberg

#1074 feat(mastodon): support system theme
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#1081 fix(google-photos): a bunch of assorted minor fixes
  styles/google-photos/catppuccin.user.css
Labels: google-photos

#1085 fix(pypi): remove link background
  styles/pypi/catppuccin.user.css
Labels: pypi

#1068 fix(invidious): update border colors and remove scrollbar changes
  styles/invidious/catppuccin.user.css
Labels: invidious

#1067 fix(gmail): misc
  styles/gmail/catppuccin.user.css
Labels: gmail

#1030 feat(amplenote): init
  scripts/userstyles.yml
  styles/amplenote/catppuccin.user.css
  styles/amplenote/preview.webp
Labels: waiting on author

#1097 fix(youtube): profile card
  styles/youtube/catppuccin.user.css
Labels: youtube

#1095 fix(duckduckgo): weird gradient on nav bar + privacy reminder color
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#1096 feat(lichess): add `stylePieces` option
  styles/lichess/catppuccin.user.css
Labels: lichess

#1099 fix(modrinth): unthemed logo
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#1103 fix(modrinth): cleanup
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#1101 fix(pinterest): unthemed variables
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#1100 fix(google): unthemed background
  styles/google/catppuccin.user.css
Labels: google

#1098 fix(tuta): unthemed icons/navbar
  styles/tuta/catppuccin.user.css
Labels: tuta

#1105 refactor(deepl): rewrite
  styles/deepl/catppuccin.user.css
Labels: deepl

#1108 fix(wikiwand): citation in infobox and lang selector
  styles/wikiwand/catppuccin.user.css
Labels: wikiwand

#1112 fix(youtube): youtube shorts like button
  styles/youtube/catppuccin.user.css
Labels: youtube

#1113 fix(youtube): unthemed skeleton
  styles/youtube/catppuccin.user.css
Labels: youtube

#1115 fix(pypi): unthemed text
  styles/pypi/catppuccin.user.css
Labels: pypi

#1118 fix(youtube): unthemed text
  styles/youtube/catppuccin.user.css
Labels: youtube

#1121 fix(cinny): color welcome page and search
  styles/cinny/catppuccin.user.css
  styles/cinny/preview.webp
Labels: cinny

#1109 refactor(deepl): cleanup
  styles/deepl/catppuccin.user.css
Labels: deepl

#1133 fix(pronouns.page): social buttons
  styles/pronouns.page/catppuccin.user.css
Labels: pronouns.page

#1135 fix(cinny): footer
  styles/cinny/catppuccin.user.css
Labels: cinny

#1138 fix(chatgpt): new login buttons, auth header logo
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#1139 fix(deepl): dropdown, logo, text and hover
  styles/deepl/catppuccin.user.css
Labels: deepl
