Repository catppuccin/userstyles, pull requests merged in 2024-04, with the labels that each got.

#740 fix(migadu-webmail): selected emails & contacts
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#741 fix(github): danger buttons, notifications bug
  styles/github/catppuccin.user.css
Labels: github

#737 fix(duckduckgo): various unthemed elements
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#743 fix(wikipedia): table text color on highlighted cells
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#744 fix(wikipedia): maths eqations
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#745 refactor(youtube): cleanup and misc changes
  styles/youtube/catppuccin.user.css
Labels: youtube

#746 fix(github): overlay background color, text selection
  styles/github/catppuccin.user.css
Labels: github

#739 fix(holodex): logo colors & various unthemed elements
  styles/holodex/catppuccin.user.css
  styles/holodex/preview.webp
Labels: holodex

#747 fix(youtube): misc
  styles/youtube/catppuccin.user.css
Labels: youtube

#750 fix(wikipedia): Style fundraising elements & math equations
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#751 fix(duckduckgo): lyrics box text
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#749 fix(google): fix unthemed elements
  styles/google/catppuccin.user.css
Labels: google

#754 fix(yt): logo regression
  styles/youtube/catppuccin.user.css
Labels: youtube

#756 fix(youtube): reply buttons
  styles/youtube/catppuccin.user.css
Labels: youtube

#757 fix(tree-wide): use base for --ctp-base variables
  styles/chatgpt/catppuccin.user.css
  styles/pypi/catppuccin.user.css
  styles/wikipedia/catppuccin.user.css
Labels: chatgpt, wikipedia, pypi

#710 fix(vercel): theme some regressions, use accent for link color
  styles/vercel/catppuccin.user.css
Labels: vercel

#758 fix(youtube): misc player changes
  styles/youtube/catppuccin.user.css
Labels: youtube

#761 feat(github): theme mermaid diagrams and ::selection
  styles/github/catppuccin.user.css
Labels: github

#748 refactor(hacker-news): semi-rewrite
  styles/hacker-news/catppuccin.user.css
Labels: hacker-news

#766 fix(github): misc + actions ansi text
  styles/github/catppuccin.user.css
Labels: github

#752 fix(anilist): some edits
  styles/anilist/catppuccin.user.css
Labels: anilist

#768 fix(github): oopsies
  styles/github/catppuccin.user.css
Labels: github

#769 fix(github): improvements to disabled buttons
  styles/github/catppuccin.user.css
Labels: github

#770 fix(instagram): direct messages not respecting chosen flavor
  styles/instagram/catppuccin.user.css
Labels: instagram

#772 fix(youtube): ambient mode header improvments
  styles/youtube/catppuccin.user.css
Labels: youtube

#777 fix(reddit): misc
  styles/reddit/catppuccin.user.css
Labels: reddit

#778 fix(github): "invisible" button bg color, focus outline
  styles/github/catppuccin.user.css
Labels: github

#775 refactor(youtube): rewrite
  styles/youtube/catppuccin.user.css
Labels: youtube

#779 fix(reddit): misc
  styles/reddit/catppuccin.user.css
Labels: reddit

#780 fix(youtube): search box background and magnifying icon, live badge
  styles/youtube/catppuccin.user.css
Labels: youtube

#782 fix(youtube): text on top of reels video player
  styles/youtube/catppuccin.user.css
Labels: youtube

#783 fix(youtube): description text on app light mode
  styles/youtube/catppuccin.user.css
Labels: youtube

#790 fix(github): header shenanigans
  styles/github/catppuccin.user.css
Labels: github

#788 fix(formative): broken elements, spinner
  styles/formative/catppuccin.user.css
Labels: formative

#793 fix(youtube): search box in app light mode
  styles/youtube/catppuccin.user.css
Labels: youtube

#794 fix(youtube): misc
  styles/youtube/catppuccin.user.css
Labels: youtube

#785 refactor(deepl): cleanup
  styles/deepl/catppuccin.user.css
Labels: deepl

#798 fix(nextjs): syntax error
  styles/nextjs/catppuccin.user.css
Labels: nextjs

#799 fix(deepl): duplicate selector
  styles/deepl/catppuccin.user.css
Labels: deepl

#802 fix(instagram): threads logooooo
  styles/instagram/catppuccin.user.css
Labels: instagram

#810 fix(youtube): additional button variant
  styles/youtube/catppuccin.user.css
Labels: youtube

#808 fix(snapchat-web): Story reply text.
  styles/snapchat-web/catppuccin.user.css
Labels: snapchat-web

#815 fix(youtube): theming for skeleton
  styles/youtube/catppuccin.user.css
Labels: youtube

#804 fix(twitter): translated by google svg
  styles/twitter/catppuccin.user.css
Labels: twitter

#817 fix(lingva): remove my custom instance
  styles/lingva/catppuccin.user.css
Labels: lingva

#818 fix(lingva): ruby moment
  styles/lingva/catppuccin.user.css
Labels: lingva

#819 fix(youtube): custom wiz elements on channel page
  styles/youtube/catppuccin.user.css
Labels: youtube

#822 fix(github): remove duplicate colour palette
  styles/github/catppuccin.user.css
Labels: github

#823 fix(ddg): privacy reminder
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#825 fix(youtube): low contrast for the progress bar on thumbails
  styles/youtube/catppuccin.user.css
Labels: youtube

#685 refactor(mastodon): remove redundant css & use vars
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#829 fix(pypi): unstyled text
  styles/pypi/catppuccin.user.css
Labels: pypi

#832 feat(wikipedia): add option for redirect highlight
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#833 fix(youtube): low contrast for video player progress
  styles/youtube/catppuccin.user.css
Labels: youtube

#836 fix(whatsapp-web): nav bar background
  styles/whatsapp-web/catppuccin.user.css
Labels: whatsapp-web

#841 fix(chatreplay): respect chat colors
  styles/chatreplay/catppuccin.user.css
Labels: chatreplay

#843 fix(youtube): buttons and shorts related
  styles/youtube/catppuccin.user.css
Labels: youtube

#845 fix(youtube): searchbar corner for ambient mode
  styles/youtube/catppuccin.user.css
Labels: youtube

#844 fix(wikipedia): theming broken at ja.wikipedia.org home page
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#846 fix(youtube): shorts comments popup backdrop
  styles/youtube/catppuccin.user.css
Labels: youtube

#853 fix(trinket): Style "beta" text
  styles/trinket/catppuccin.user.css
Labels: trinket
