Repository catppuccin/userstyles, pull requests merged in 2024-05, with the labels that each got.

#857 fix(chatgpt): misc login page and border theming
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#858 fix(youtube): notification icon not themed
  styles/youtube/catppuccin.user.css
Labels: youtube

#859 refactor(youtube): organization
  styles/youtube/catppuccin.user.css
Labels: youtube

#862 fix(chatgpt): update domain
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#863 refactor(nixos.wiki): use pygments for syntax highlighting
  styles/nixos.wiki/catppuccin.user.css
Labels: nixos.wiki

#864 fix(gmail): assorted changes
  styles/gmail/catppuccin.user.css
Labels: gmail

#869 fix(whatsapp-web): filters fix
  styles/whatsapp-web/catppuccin.user.css
Labels: whatsapp-web

#873 fix(migadu-webmail): untheme message content
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#874 fix: account iframe themed correctly
  styles/google/catppuccin.user.css
Labels: google

#875 fix(wikipedia): equations and tables styling fixes
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#878 fix(codeberg): theme logos, footer, remove auto theme support
  styles/codeberg/catppuccin.user.css
Labels: codeberg

#880 fix(chatgpt): swap two vars, theme toggle and "which response do you prefer"
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#882 feat(github): theme activity overview graph
  styles/github/catppuccin.user.css
Labels: github

#883 fix(migadu-webmail): adjust message content selector
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#877 fix(duckduckgo): misc
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#893 fix(codeberg): active tab text color
  styles/codeberg/catppuccin.user.css
Labels: codeberg

#892 fix(github): fade --bgColor-neutral-muted
  styles/github/catppuccin.user.css
Labels: github

#891 feat(chatgpt): update for new ui
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#895 fix(twitter): add x.com url
  styles/twitter/catppuccin.user.css
Labels: twitter

#897 fix(youtube): theme some live & premiere badges
  styles/youtube/catppuccin.user.css
Labels: youtube

#898 fix(twitter): Add missing x.com URLs
  styles/twitter/catppuccin.user.css
Labels: twitter

#901 fix(github): misc vars
  styles/github/catppuccin.user.css
Labels: github

#903 fix(ddg): more news in carousel button background
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#905 fix(chatgpt): inline style override
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#909 fix(ddg): error displaying search results text
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#914 fix(crates.io): yanked badges
  styles/crates.io/catppuccin.user.css
Labels: crates.io

#917 fix(docs.rs): misc
  styles/docs.rs/catppuccin.user.css
Labels: docs.rs

#920 fix(twitch): extension overlay background
  styles/twitch/catppuccin.user.css
Labels: twitch

#910 refactor(picrew): improved nesting
  styles/picrew/catppuccin.user.css
  styles/picrew/preview.webp
Labels: picrew

#926 fix(docs.rs): background of links in source viewer
  styles/docs.rs/catppuccin.user.css
Labels: docs.rs

#927 feat(docs.rs): apply to doc.rust-lang.org
  styles/docs.rs/catppuccin.user.css
Labels: docs.rs

#929 feat(mdbook): apply to rust-book.cs.brown.edu
  styles/mdbook/catppuccin.user.css
Labels: mdbook

#931 fix(duckduckgo): stocks infobox + ai chat
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo
