Repository catppuccin/userstyles, pull requests merged in 2024-06, with the labels that each got.

#919 fix(proton): light color scheme for message iframe
  styles/proton/catppuccin.user.css
Labels: proton

#928 fix(formative): update for classname and practice set changes
  styles/formative/catppuccin.user.css
Labels: formative

#938 fix(hackage): color haddock menus
  styles/hackage/catppuccin.user.css
Labels: hackage

#939 fix(hyperpipe): color the play button
  styles/hyperpipe/catppuccin.user.css
Labels: hyperpipe

#941 fix(youtube): stats for nerds
  styles/youtube/catppuccin.user.css
Labels: youtube

#942 fix(mastodon): active icon button color
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#945 fix(mastodon): active icon button color + confirmation prompt
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#935 feat(stack-overflow): support more stack exchange sites
  styles/stack-overflow/catppuccin.user.css
Labels: stack-overflow

#950 fix(duckduckgo): assorted elemets
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#953 fix(duckduckgo): sublinks being text colored
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#952 fix(wikipedia): Legibility of text color in tracklist tables
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#854 fix(elk): disable saturation filter
  styles/elk/catppuccin.user.css
Labels: elk

#963 fix(wikipedia): .noarticletext div background-color
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#944 feat(lastfm): theme documentation/api section
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#968 feat(youtube): new player ui
  styles/youtube/catppuccin.user.css
Labels: youtube

#970 fix(stack-overflow): notification toasts
  styles/stack-overflow/catppuccin.user.css
Labels: stack-overflow

#971 fix(google-drive): some svgs, other assorted fixes
  styles/google-drive/catppuccin.user.css
Labels: google-drive

#972 chore(github): update preview image
  styles/github/preview.webp
Labels: github

#879 fix(spotify-web): various unthemed elements
  styles/spotify-web/catppuccin.user.css
Labels: spotify-web

#924 fix(google-photos): assorted changes
  styles/google-photos/catppuccin.user.css
Labels: google-photos

#973 fix(go.dev): formatter fail
  styles/go.dev/catppuccin.user.css
Labels: go.dev

#986 build: regenerate deno lockfile
  deno.json
  deno.lock
  scripts/lint/stylelint-custom/optimizedSvgs.js
  scripts/lint/stylelint.ts
  scripts/types/mod.ts
  scripts/update-types.ts
  styles/ichi.moe/catppuccin.user.css
Labels: ichi.moe

#976 fix(duckduckgo): assorted elements
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#994 fix(instagram): direct message fixes
  styles/instagram/catppuccin.user.css
Labels: instagram

#977 fix(wikipedia): selflink anchors
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#978 fix(wikipedia): broken background on some external links
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#1008 fix(codeberg): more conditional changes to apply patches
  styles/codeberg/catppuccin.user.css
Labels: codeberg

#1010 fix(youtube): improve button styling
  styles/youtube/catppuccin.user.css
Labels: youtube

#1013 fix(twitch): misc
  styles/twitch/catppuccin.user.css
Labels: twitch

#1027 fix(npm): profile dropdown menu in header
  styles/npm/catppuccin.user.css
Labels: npm

#885 fix(wikipedia): misc
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#1028 fix(lemmy): use `@text` for body text
  styles/lemmy/catppuccin.user.css
Labels: lemmy

#1031 fix(crates.io): various updated variables
  styles/crates.io/catppuccin.user.css
Labels: crates.io

#1033 refactor!: merge nextjs userstyle into vercel userstyle
  scripts/userstyles.yml
  styles/nextjs/README.md
  styles/nextjs/catppuccin.user.css
  styles/nextjs/preview.webp
  styles/vercel/catppuccin.user.css
Labels: vercel, nextjs
