Repository catppuccin/userstyles, pull requests merged in 2024-08, with the labels that each got.

#1136 fix(phanpy): Fix some colors
  styles/phanpy/catppuccin.user.css
Labels: phanpy

#1148 fix(stack-overflow): avatar fix
  styles/stack-overflow/catppuccin.user.css
Labels: stack-overflow

#1150 fix(youtube): color icons and progress bars
  styles/youtube/catppuccin.user.css
Labels: youtube

#1155 fix(youtube): unthemed text and icons
  styles/youtube/catppuccin.user.css
Labels: youtube

#1159 fix(youtube): unthemed super thanks bar
  styles/youtube/catppuccin.user.css
Labels: youtube

#1162 fix(youtube): unthemed knob
  styles/youtube/catppuccin.user.css
Labels: youtube

#1134 fix(tuta): logo
  styles/tuta/catppuccin.user.css
Labels: tuta

#1163 fix(google): resolve highlight contrast issue in featured snippets
  styles/google/catppuccin.user.css
Labels: google

#1166 fix(npm): misc syntax highlighting
  styles/npm/catppuccin.user.css
Labels: npm

#1168 fix(npm): signup form text
  styles/npm/catppuccin.user.css
Labels: npm

#1172 fix(google): unthemed section
  styles/google/catppuccin.user.css
Labels: google

#1169 fix(chess.com): unthemed buttons
  styles/chess.com/catppuccin.user.css
Labels: chess.com

#1123 feat(inoreader): support for new ui
  styles/inoreader/catppuccin.user.css
Labels: inoreader

#1167 fix(go.dev): unthemed border
  styles/go.dev/catppuccin.user.css
Labels: go.dev

#1179 fix(youtube): shorts stats values
  styles/youtube/catppuccin.user.css
Labels: youtube

#1178 fix(youtube): disabled buttons
  styles/youtube/catppuccin.user.css
Labels: youtube

#1185 fix(pronouns.page): search bar focus
  styles/pronouns.page/catppuccin.user.css
Labels: pronouns.page

#1151 fix(spotify-web): unthemed border on playlist details
  styles/spotify-web/catppuccin.user.css
Labels: spotify-web

#1191 refactor(perplexity): rewrite
  styles/perplexity/catppuccin.user.css
Labels: perplexity

#1186 fix(porkbun): form control focus
  styles/porkbun/catppuccin.user.css
Labels: porkbun

#1190 fix(google-photos): text and labels
  styles/google-photos/catppuccin.user.css
Labels: google-photos

#1183 fix(pronouns.page): disabled buttons
  styles/pronouns.page/catppuccin.user.css
Labels: pronouns.page

#1114 fix(gemini): unthemed elements
  styles/google-gemini/catppuccin.user.css
Labels: google-gemini

#1195 refactor(skiff)!: delete
  scripts/userstyles.yml
  styles/skiff/README.md
  styles/skiff/catppuccin.user.css
  styles/skiff/preview.webp
Labels: skiff

#1196 feat(github): support new enhanced repo insights charts
  styles/github/catppuccin.user.css
Labels: github

#1193 fix(wikiwand): syntax highlighting
  styles/wikiwand/catppuccin.user.css
Labels: wikiwand

#1201 fix(libreddit): thumbnail title
  styles/libreddit/catppuccin.user.css
Labels: libreddit

#1202 fix(proton): login page and latte fix
  styles/proton/catppuccin.user.css
Labels: proton

#1200 fix(brave): settings popup
  styles/brave-search/catppuccin.user.css
Labels: brave-search

#1213 fix(proton): proton wallet logo
  styles/proton/catppuccin.user.css
Labels: proton

#1215 fix(stylus): unthemed elements
  styles/stylus/catppuccin.user.css
Labels: stylus

#1216 refactor(stylus): use nesting wherever possible, simplify selectors
  styles/stylus/catppuccin.user.css
Labels: stylus

#1218 fix(pinterest): unthemed elements
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#1221 fix(duckduckgo): startpage + calculator
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#1223 fix(instagram): links in direct messages having horrible contrast
  styles/instagram/catppuccin.user.css
Labels: instagram

#1224 refactor(chess.com): use uv single file scripts
  styles/chess.com/generate.py
  styles/chess.com/scripts/generate/generate/__init__.py
  styles/chess.com/scripts/generate/poetry.lock
  styles/chess.com/scripts/generate/pyproject.toml
Labels: chess.com

#1225 refactor(trinket): clean up
  styles/trinket/catppuccin.user.css
Labels: trinket

#1226 fix(trinket): logo disappearing
  styles/trinket/catppuccin.user.css
Labels: trinket

#1228 fix(duckduckgo): weather stuff
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#1229 refactor(wikiwand): rewrite for omni
  styles/wikiwand/catppuccin.user.css
Labels: wikiwand

#1230 fix(modrinth): add theming for new ui
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#1232 fix(modrinth): dropdown icon
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#1234 fix(porkbun): help button
  styles/porkbun/catppuccin.user.css
Labels: porkbun

#1237 fix(perplexity): search goals in pro-search mode
  styles/perplexity/catppuccin.user.css
Labels: perplexity

#1236 fix(instagram): assorted changes
  styles/instagram/catppuccin.user.css
Labels: instagram

#1244 fix(chess.com): correctly resolve paths to assets, add uv run shebang
  styles/chess.com/generate.py
Labels: chess.com

#1248 fix(github): tooltips
  styles/github/catppuccin.user.css
Labels: github
