Repository catppuccin/userstyles, pull requests merged in 2024-11, with the labels that each got.

#1413 fix(bsky): some broken stuff and missing selectors
  styles/bsky/catppuccin.user.css
Labels: bsky

#1386 fix(mastodon): contrast issues and misc
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#1418 fix(hackage): color the synopsis toggle and older Haddock pages
  styles/hackage/catppuccin.user.css
Labels: hackage

#1423 fix(twitch): use proper username chat color
  styles/twitch/catppuccin.user.css
Labels: twitch

#1420 fix(pinterest): improve readability and fix unthemed elements
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#1425 fix(twitch): use proper colors in mod logs, title and description
  styles/twitch/catppuccin.user.css
Labels: twitch

#1432 fix(github): tooltip colors
  styles/github/catppuccin.user.css
Labels: github

#1431 fix(nitter): unthemed elements
  styles/nitter/catppuccin.user.css
Labels: nitter

#1435 fix(twitch): video producer background and thumbnails
  styles/twitch/catppuccin.user.css
Labels: twitch

#1433 fix(duckduckgo): unthemed elements
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#1421 fix(google-photos): assorted changes
  styles/google-photos/catppuccin.user.css
Labels: google-photos

#1439 fix(twitch): ffz uptime timer
  styles/twitch/catppuccin.user.css
Labels: twitch

#1440 feat(twitch): twitch docs
  styles/twitch/catppuccin.user.css
Labels: twitch

#1442 fix(twitch): dev console, unthemed hr & vod chapters
  styles/twitch/catppuccin.user.css
Labels: twitch

#1444 fix(twitch): link color, usercard and privacy center fixes
  styles/twitch/catppuccin.user.css
Labels: twitch

#1438 fix(lastfm): update logo and interactive elements
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#1446 fix(searxng): default domains, additional tweaks
  styles/searxng/catppuccin.user.css
Labels: searxng

#1452 fix(twitch): dashboard, channel points and shield mode fixes
  styles/twitch/catppuccin.user.css
Labels: twitch

#1464 fix(picrew): unthemed elements
  styles/picrew/catppuccin.user.css
Labels: picrew

#1463 fix(bsky): unthemed colors and switches
  styles/bsky/catppuccin.user.css
Labels: bsky

#1467 fix(chatgpt): auth page background
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#1461 feat(treewide): add require-color-op-func-percentage stylelint rule
  .stylelintrc.js
  .vscode/settings.json
  deno.json
  scripts/lint/stylelint-custom/color-op-func-percentage.js
  styles/advent-of-code/catppuccin.user.css
  styles/anilist/catppuccin.user.css
  styles/canvas-lms/catppuccin.user.css
  styles/formative/catppuccin.user.css
  styles/hoppscotch/catppuccin.user.css
  styles/ichi.moe/catppuccin.user.css
  styles/instagram/catppuccin.user.css
  styles/lastfm/catppuccin.user.css
  styles/linkedin/catppuccin.user.css
  styles/mastodon/catppuccin.user.css
  styles/reddit/catppuccin.user.css
  styles/snapchat-web/catppuccin.user.css
  styles/trinket/catppuccin.user.css
  styles/whatsapp-web/catppuccin.user.css
  styles/youtube/catppuccin.user.css
Labels: youtube, anilist, ichi.moe, lastfm, reddit, mastodon, whatsapp-web, advent-of-code, canvas-lms, formative, hoppscotch, linkedin, instagram, snapchat-web, trinket

#1456 fix(twitch): dashboard & mod view fixes
  styles/twitch/catppuccin.user.css
Labels: twitch

#1473 bsky: unthemed colors and some fixes
  styles/bsky/catppuccin.user.css
Labels: bsky

#1476 fix(bsky): edit profile save changes button
  styles/bsky/catppuccin.user.css
Labels: bsky
