Repository catppuccin/userstyles, pull requests merged in 2024-10, with the labels that each got.

#1340 fix(google): mobile ui fixes
  styles/google/catppuccin.user.css
Labels: google

#1345 fix(reddit): error text color
  styles/reddit/catppuccin.user.css
Labels: reddit

#1348 fix(syncthing): make panel headers different from background
  styles/syncthing/catppuccin.user.css
Labels: syncthing

#1352 fix(youtube): properly color the "LIVE" badge icon
  styles/youtube/catppuccin.user.css
Labels: youtube

#1351 fix(youtube): unthemed elements
  styles/youtube/catppuccin.user.css
Labels: youtube

#1350 fix(duckduckgo): heading text
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#1353 fix(google): unthemed elements
  styles/google/catppuccin.user.css
Labels: google

#1346 fix(google): misc
  styles/google/catppuccin.user.css
Labels: google

#1359 fix(chess.com): linter
  styles/chess.com/catppuccin.user.css
Labels: chess.com

#1361 fix(chess.com): search bar
  styles/chess.com/catppuccin.user.css
Labels: chess.com

#1358 fix(duckduckgo): unthemed variables
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#1365 fix(linkedin): hover buttons
  styles/linkedin/catppuccin.user.css
Labels: linkedin

#1367 fix(youtube): live ring
  styles/youtube/catppuccin.user.css
Labels: youtube

#1370 fix(instagram): sumting wong's popup has now been themed!
  styles/instagram/catppuccin.user.css
Labels: instagram

#1227 feat(rentry.co): init
  scripts/userstyles.yml
  styles/rentry.co/catppuccin.user.css
  styles/rentry.co/preview.webp
Labels: waiting on author

#1374 fix(reddit): text color on brand background
  styles/reddit/catppuccin.user.css
Labels: reddit

#1373 fix(mastodon)!: update applied domains
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#1377 fix(tuta): application of accent color
  styles/tuta/catppuccin.user.css
Labels: tuta

#1376 fix(chatgpt): codeblocks
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#1382 fix(deepl): poor contrast on certain elements
  styles/deepl/catppuccin.user.css
Labels: deepl

#1383 fix(mastodon): getting-started links background colors
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#1372 fix(wikipedia): missing infobox classes
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#1321 fix(gmail): empty social/promotions tab
  styles/gmail/catppuccin.user.css
Labels: gmail

#1371 fix(inoreader): unthemed borders
  styles/inoreader/catppuccin.user.css
Labels: inoreader

#1390 fix(github): jupyter notebook editor background
  styles/github/catppuccin.user.css
Labels: github

#1343 fix(google-photos): text
  styles/google-photos/catppuccin.user.css
Labels: google-photos

#1389 feat(bsky): update selectors for current version
  styles/bsky/catppuccin.user.css
Labels: bsky

#1394 fix(stack-overflow): notices low contrast issue
  styles/stack-overflow/catppuccin.user.css
Labels: stack-overflow

#1396 fix(github): pull request check in progress indicator
  styles/github/catppuccin.user.css
Labels: github

#1395 fix(inoreader): sidebar contrast issues
  styles/inoreader/catppuccin.user.css
Labels: inoreader

#1199 feat(wiki.nixos.org): init
  scripts/userstyles.yml
  styles/nixos.wiki/README.md
  styles/nixos.wiki/catppuccin.user.css
  styles/nixos.wiki/preview.webp
  styles/wiki.nixos.org/catppuccin.user.css
  styles/wiki.nixos.org/preview.webp
Labels: nixos.wiki

#1403 fix(chess.com): hovered toolbar icons, coach nudge modal
  styles/chess.com/catppuccin.user.css
Labels: chess.com

#1402 fix(keybr.com): darken lesson keys colors
  styles/keybr.com/catppuccin.user.css
Labels: keybr.com
