Repository catppuccin/userstyles, pull requests merged in 2024-01, with the labels that each got.

#425 feat(pinterest): rewrite
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#426 fix: Mistyped variable name in nitter.
  styles/nitter/catppuccin.user.css
Labels: nitter

#427 fix(lastfm): Taste-o-meter colors and link styling
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#429 fix(chatgpt): nav bar theming
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#428 fix(github): start actively theming the contribution calendar
  styles/github/catppuccin.user.css
Labels: github

#431 chore(deepl): update page detection
  styles/deepl/catppuccin.user.css
Labels: deepl

#434 feat(instagram): theme some assorted unthemed elements
  styles/instagram/catppuccin.user.css
Labels: instagram

#433 feat(bsky): theme some unthemed things
  styles/bsky/catppuccin.user.css
Labels: bsky

#438 fix(graphite): typo
  styles/graphite/catppuccin.user.css
Labels: graphite

#437 fix(lastfm): fix love animation & various cleanups
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#443 fix(stylus): save button border color after changes + toggle buttons …
  styles/stylus/catppuccin.user.css
Labels: stylus

#444 fix(google): amogus
  styles/google/catppuccin.user.css
Labels: google

#445 fix(stylus): make header color less deep to match text
  styles/stylus/catppuccin.user.css
Labels: stylus

#447 fix(youtube): change on sidebar icons coloring
  styles/youtube/catppuccin.user.css
Labels: youtube

#451 refactor: remove jn-sena from pinterest
  scripts/userstyles.yml
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#452 fix(youtube): history tab title
  styles/youtube/catppuccin.user.css
Labels: youtube

#453 fix(youtube): Video Music Title
  styles/youtube/catppuccin.user.css
Labels: youtube

#454 fix(reddit): border colors barely visible
  styles/reddit/catppuccin.user.css
Labels: reddit

#455 fix(google): Fix more uncolored stuff
  styles/google/catppuccin.user.css
Labels: google

#458 fix(youtube): button background when hovering is too light
  styles/youtube/catppuccin.user.css
Labels: youtube

#457 fix(reddit): tag color
  styles/reddit/catppuccin.user.css
Labels: reddit

#456 fix(stylus): userstyle settings header
  styles/stylus/catppuccin.user.css
Labels: stylus

#460 fix(reddit): post title when opened from notification
  styles/reddit/catppuccin.user.css
Labels: reddit

#461 fix: facebook stuff on log in page
  styles/instagram/catppuccin.user.css
Labels: instagram

#462 fix(google): color some more elements
  styles/google/catppuccin.user.css
Labels: google

#459 fix(stylus): add colored icon
  styles/stylus/catppuccin.user.css
Labels: stylus

#466 fix(syncthing): allow more than two URLs to be specified
  styles/syncthing/catppuccin.user.css
Labels: syncthing

#465 fix(youtube): color shorts logo triangle
  styles/youtube/catppuccin.user.css
Labels: youtube

#464 fix(lastfm): Listening report page overhaul
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#467 fix(modrinth): update variables and fix outline
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#468 fix: Improve visibility of inline code text
  styles/whatsapp-web/catppuccin.user.css
Labels: whatsapp-web

#471 fix(reddit): follower text color
  styles/reddit/catppuccin.user.css
Labels: reddit

#470 fix: match description field with userstyle branding
  styles/anilist/catppuccin.user.css
  styles/bsky/catppuccin.user.css
  styles/graphite/catppuccin.user.css
  styles/hacker-news/catppuccin.user.css
  styles/lingva/catppuccin.user.css
  styles/proton/catppuccin.user.css
  styles/skiff/catppuccin.user.css
Labels: anilist, hacker-news, proton, skiff, lingva, bsky, graphite

#475 fix(lastfm): Theme vote buttons and revamp shoutbox
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#432 fix(github): purge unmaintainable mess
  styles/github/catppuccin.user.css
Labels: github

#476 fix(gmail): loading animation
  styles/gmail/catppuccin.user.css
Labels: gmail

#478 fix(bsky): some unthemed parts
  styles/bsky/catppuccin.user.css
Labels: bsky

#481 fix(ecosia): landing page numbers
  styles/ecosia/catppuccin.user.css
Labels: ecosia

#482 fix(lastfm): Optimize masks
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#483 fix(google): definition box text
  styles/google/catppuccin.user.css
Labels: google

#484 fix(anilist): lots of things
  styles/anilist/catppuccin.user.css
Labels: anilist

#474 fix(modrinth): update branding color vars
  styles/modrinth/catppuccin.user.css
Labels: modrinth

#490 fix(YouTube): button hovers
  styles/youtube/catppuccin.user.css
Labels: youtube
