Repository catppuccin/userstyles, pull requests merged in 2024-02, with the labels that each got.

#492 fix(youtube): checkboxes
  styles/youtube/catppuccin.user.css
Labels: youtube

#494 fix(codeberg): prevent error 404
  styles/codeberg/catppuccin.user.css
Labels: codeberg

#501 fix(bsky): inline accents, circle toggle
  styles/bsky/catppuccin.user.css
Labels: bsky

#502 fix(perplexity): input box, icons, hover states
  styles/perplexity/catppuccin.user.css
Labels: perplexity

#503 fix(stylus): red color
  styles/stylus/catppuccin.user.css
Labels: stylus

#504 feat(chatgpt): theme auth/login page
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#505 fix(bsky): various parts
  styles/bsky/catppuccin.user.css
Labels: bsky

#496 fix(github): various unthemed elements
  styles/github/catppuccin.user.css
Labels: github

#509 fix(google): ai search
  styles/google/catppuccin.user.css
Labels: google

#510 fix(gmail): various unthemed elements
  styles/gmail/catppuccin.user.css
Labels: gmail

#511 fix(github): tooltip colors accidentally affecting other elements
  styles/github/catppuccin.user.css
Labels: github

#514 feat(github): syntax highlighting in codemirror web editor
  styles/github/catppuccin.user.css
Labels: github

#506 refactor(chatgpt): rewrite
  scripts/userstyles.yml
  styles/chatgpt/assets/catwalk.webp
  styles/chatgpt/assets/frappe.webp
  styles/chatgpt/assets/latte.webp
  styles/chatgpt/assets/macchiato.webp
  styles/chatgpt/assets/mocha.webp
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#515 fix(github): user mention backgrounds and improve button styling
  styles/github/catppuccin.user.css
Labels: github

#516 refactor(github): clean out unused/dead code
  styles/github/catppuccin.user.css
Labels: github

#517 fix(github): improve selectors
  styles/github/catppuccin.user.css
Labels: github

#519 fix(chatgpt): update theme to match website updates
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#521 fix(github): various unthemed elements
  styles/github/catppuccin.user.css
Labels: github

#520 fix(perplexity): hover states, codeblock, syntax highlighting, seperators, icons
  scripts/userstyles.yml
  styles/perplexity/README.md
  styles/perplexity/catppuccin.user.css
Labels: perplexity

#525 fix(youtube): buy/rent movie colors
  styles/youtube/catppuccin.user.css
Labels: youtube

#528 fix(youtube): Changing 'HDR' video quality badge to correct Catppuccin red
  styles/youtube/catppuccin.user.css
Labels: youtube

#529 fix: correct spellings of flavor
  styles/microsoft-word/catppuccin.user.css
  styles/wikipedia/catppuccin.user.css
Labels: microsoft-word, wikipedia

#531 fix(youtube): icon colors, search input placeholder
  styles/youtube/catppuccin.user.css
Labels: youtube

#533 fix(duckduckgo): recipes
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#539 fix(youtube): description color (when not exapnded)
  styles/youtube/catppuccin.user.css
Labels: youtube

#540 fix(youtube): description (I hope this time fr)
  styles/youtube/catppuccin.user.css
Labels: youtube

#507 fix(formative): rewrite and theme much more
  styles/formative/catppuccin.user.css
Labels: formative

#541 fix(duckduckgo): complete rewrite
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#552 fix(instagram): loading icon
  styles/instagram/catppuccin.user.css
Labels: instagram

#558 fix(pinstrest): assorted bugs
  styles/pinterest/catppuccin.user.css
Labels: pinterest

#538 fix(chatgpt): lightness
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#560 fix(duckduckgo): weather info box
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#564 fix(linkedin): codeblocks
  styles/linkedin/catppuccin.user.css
Labels: linkedin

#567 chore: catwalk + preview images for insta
  styles/instagram/assets/catwalk.webp
  styles/instagram/assets/frappe.webp
  styles/instagram/assets/latte.webp
  styles/instagram/assets/macchiato.webp
  styles/instagram/assets/mocha.webp
Labels: instagram

#568 fix(migadu-webmail): compose message modal, buttons
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#569 fix(duckduckgo): assorted fixes + images
  styles/duckduckgo/assets/catwalk.webp
  styles/duckduckgo/assets/frappe.webp
  styles/duckduckgo/assets/latte.webp
  styles/duckduckgo/assets/macchiato.webp
  styles/duckduckgo/assets/mocha.webp
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#571 fix(twitch): logo + topbar shadow
  styles/twitch/catppuccin.user.css
Labels: twitch

#574 fix(duckduckgo): region switcher button
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#579 fix(wikipedia): unthemed elements
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#581 fix(twitch): button text color
  styles/twitch/catppuccin.user.css
Labels: twitch

#583 fix(migadu-webmail): disabled button color
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#589 fix(minesweeper): accent-color
  styles/minesweeper/catppuccin.user.css
Labels: minesweeper

#588 fix(twitch): button text color, edit 2
  styles/twitch/catppuccin.user.css
Labels: twitch

#587 fix(github): selectors, header when logged out
  styles/github/catppuccin.user.css
Labels: github
