Repository catppuccin/userstyles, pull requests merged in 2024-03, with the labels that each got.

#590 fix(lastfm): fix #551 and love track animation
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#586 fix(duckduckgo): phrase infobox
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#582 fix(twitter): minor elements
  styles/twitter/catppuccin.user.css
Labels: twitter

#593 fix(chatgpt): match website updates, arbitrary unthemed elements
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#595 fix(stylus): error message when saving is unthemed
  styles/stylus/catppuccin.user.css
Labels: stylus

#597 fix(duckduckgo): assorted things that were unthemed
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#598 chore: add libreddit fork
  scripts/userstyles.yml
  styles/libreddit/catppuccin.user.css
Labels: libreddit

#599 fix(npm): more legacy syntax highlighting
  styles/npm/catppuccin.user.css
Labels: npm

#605 feat(wikipedia): Theme syntax highlighting, Fix line numbers in code-blocks, and stylistic changes. (#601)
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#607 fix(wikipedia): typo
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#608 fix(google): bunch of movie related things
  styles/google/catppuccin.user.css
Labels: google

#612 fix(migadu-webmail): icon colors
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#613 fix(npm): use mantle for `<code>` element backgrounds
  styles/npm/catppuccin.user.css
Labels: npm

#609 fix(duckduckgo): code stuff i think
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#617 fix(instagram): assorted fixes that uncenter pointed out
  styles/instagram/catppuccin.user.css
Labels: instagram

#620 fix(nixos-search)!: update style to work with new UI
  styles/nixos-search/catppuccin.user.css
Labels: nixos-search

#624 chore(tabnews): cleanup previews
  styles/tabnews/assets/frappe.webp
  styles/tabnews/assets/latte.webp
  styles/tabnews/assets/macchiato.webp
  styles/tabnews/assets/mocha.webp
  styles/tabnews/preview.webp
Labels: tabnews

#628 fix(wikipedia): black text -> white text in sidebar
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#627 fix(chatgpt): primary background override
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#625 refactor(chess.com): update generate script
  .gitignore
  .typos.toml
  styles/chess.com/assets/latte/lavender.png
  styles/chess.com/scripts/generate.py
  styles/chess.com/scripts/generate/generate/__init__.py
  styles/chess.com/scripts/generate/poetry.lock
  styles/chess.com/scripts/generate/pyproject.toml
  styles/chess.com/scripts/poetry.lock
  styles/chess.com/scripts/pyproject.toml
Labels: chess.com

#630 fix(stylus): icon in options
  styles/stylus/catppuccin.user.css
Labels: stylus

#633 chore(youtube): enable youtube logo by default
  styles/youtube/catppuccin.user.css
Labels: youtube

#636 fix(wikipedia): assorted fixes
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#631 fix(mastodon): new input method and emoji picker
  styles/mastodon/catppuccin.user.css
Labels: mastodon

#594 feat(youtube): add mobile support
  styles/youtube/catppuccin.user.css
Labels: youtube

#644 fix(reddit): unthemed main page
  styles/reddit/catppuccin.user.css
Labels: reddit

#645 fix(google): don't apply themed google logo if it is a google doodle
  styles/google/catppuccin.user.css
Labels: google

#647 fix(lastfm): fix #646
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#648 fix(lastfm): fix vote button color
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#640 fix(google): a whole bunch of unthemed elements
  styles/google/catppuccin.user.css
Labels: google

#653 fix(wikipedia): color redirect thingy into green
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#654 fix(instagram): direct message bubble color
  styles/instagram/catppuccin.user.css
Labels: instagram

#657 fix(twitter): minor fixes
  styles/twitter/catppuccin.user.css
Labels: twitter

#664 chore(tabnews): assorted updates
  styles/tabnews/catppuccin.user.css
Labels: tabnews

#668 fix(google): selected image highlight
  styles/google/catppuccin.user.css
Labels: google

#669 fix(duckduckgo): defenitions infobox coloring
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#672 fix(tabnews): Contrast between seen posts and new posts
  styles/tabnews/catppuccin.user.css
Labels: tabnews

#678 fix(youtube): transparent header bar not being themed, but made header bar non-transparent
  styles/youtube/catppuccin.user.css
Labels: youtube

#665 fix(github): code block backgrounds
  styles/github/catppuccin.user.css
Labels: github

#656 fix(anilist): various fixes
  styles/anilist/catppuccin.user.css
Labels: anilist

#684 fix(formative): unthemed elements
  styles/formative/catppuccin.user.css
Labels: formative

#683 fix(twitter): unstyled media player text
  styles/twitter/catppuccin.user.css
Labels: twitter

#687 fix(duckduckgo): time zone colors
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#688 refactor(wikipedia): use syntax highlighting from python pygments port
  styles/wikipedia/catppuccin.user.css
Labels: wikipedia

#692 fix(lastfm): theme recs-feed icons
  styles/lastfm/catppuccin.user.css
Labels: lastfm

#694 fix(duckduckgo): translations infobox
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#690 refactor(github): rewrite for new css
  styles/github/catppuccin.user.css
Labels: github

#695 fix(duckduckgo): currency exchange infobox's currency selector color
  styles/duckduckgo/catppuccin.user.css
Labels: duckduckgo

#698 refactor(chatgpt): move `@catppuccin` colors variable, cleanup
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#696 fix(github): little things
  styles/github/catppuccin.user.css
Labels: github

#705 fix(twitch): hype train notifs
  styles/twitch/catppuccin.user.css
Labels: twitch

#707 fix(twitch): chat paused button
  styles/twitch/catppuccin.user.css
Labels: twitch

#699 fix(instagram): assorted fixes
  styles/instagram/catppuccin.user.css
Labels: instagram

#711 feat(twitch): predictions, inputs, pause/play button, ad text overlay
  styles/twitch/catppuccin.user.css
Labels: twitch

#712 feat: catppuccin loading gif, additional vars
  styles/github/catppuccin.user.css
Labels: github

#714 fix(github): use accent on radio buttons
  styles/github/catppuccin.user.css
Labels: github

#716 chore(openmediavault): use correct brand name spelling
  scripts/userstyles.yml
  styles/openmediavault/catppuccin.user.css
Labels: openmediavault

#720 chore(codeberg): use the ctp/gitea pages deployment urls
  styles/codeberg/catppuccin.user.css
Labels: codeberg

#719 fix(github): top nav bar when logged out
  styles/github/catppuccin.user.css
Labels: github

#721 fix(migadu-webmail): email address field
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#729 feat(instagram): theme story ring around profile picture
  styles/instagram/catppuccin.user.css
Labels: instagram

#730 fix(instagram): specificity & story-related color changes
  styles/instagram/catppuccin.user.css
Labels: instagram

#731 fix(chatgpt): some other login page
  styles/chatgpt/catppuccin.user.css
Labels: chatgpt

#732 fix(migadu-webmail): selected contacts
  styles/migadu-webmail/catppuccin.user.css
Labels: migadu-webmail

#733 chore(yt): cleanup
  styles/youtube/catppuccin.user.css
Labels: youtube

#715 refactor(brave-search): rewrite
  styles/brave-search/catppuccin.user.css
Labels: brave-search

#734 refactor(github): remove unthemed & unused vars
  styles/github/catppuccin.user.css
Labels: github
