Repository catppuccin/userstyles, pull requests merged in 2025-07, with the labels that each got.

#1794 fix(modrinth): footer gradient background
  styles/modrinth/catppuccin.user.less
Labels: modrinth

#1791 fix(youtube): player option tooltips
  styles/youtube/catppuccin.user.less
Labels: youtube

#1799 fix(archwiki): respect site-configured color scheme
  styles/arch-wiki/catppuccin.user.less
Labels: arch-wiki
