Repository catppuccin/userstyles, pull requests merged in 2025-08, with the labels that each got.

#1798 fix(whatsapp-web): rewrite theme with variables
  styles/whatsapp-web/catppuccin.user.less
Labels: whatsapp-web

#1828 chore(bsky): lint
  styles/bsky/catppuccin.user.less
Labels: bsky

#1847 feat(lichess): add theme to drawn annotations, local eval bar, and threat analysis button
  styles/lichess/catppuccin.user.less
Labels: lichess

#1862 feat(bsky): more styles
  styles/bsky/catppuccin.user.less
Labels: bsky
