Repository catppuccin/userstyles, pull requests merged in 2025-01, with the labels that each got.

#1075 refactor(wikipedia): rewrite
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1553 fix(hoppscotch): text selection color
  styles/hoppscotch/catppuccin.user.less
Labels: hoppscotch

#1550 fix(hackage): make headings text
  styles/hackage/catppuccin.user.less
Labels: hackage

#1554 fix(github): github actions check running indicator
  styles/github/catppuccin.user.less
Labels: github

#1468 feat(microsoft-word): add apply to document option
  styles/microsoft-word/catppuccin.user.less
Labels: microsoft-word

#1556 feat(hackage): use an svg for the synopsis toggle
  styles/hackage/catppuccin.user.less
Labels: hackage

#1555 fix(youtube): various unthemed texts related to playlists
  styles/youtube/catppuccin.user.less
Labels: youtube

#1561 fix(github): view image file background
  styles/github/catppuccin.user.less
Labels: github

#1562 fix(twitch): automod message alert
  styles/twitch/catppuccin.user.less
Labels: twitch

#1563 fix(ghostty.org): logo on download page, language-less code blocks
  styles/ghostty.org/catppuccin.user.less
Labels: ghostty.org

#1569 fix(chatgpt): limit alert bg and middle pricing panel
  styles/chatgpt/catppuccin.user.less
Labels: chatgpt

#1576 fix(github): adjust matcher from `regexp` to generic `domain`
  styles/github/catppuccin.user.less
Labels: github

#1580 fix(gmail): search bar and header icons
  styles/gmail/catppuccin.user.less
Labels: gmail

#1566 fix(twitch): dashboard fixes
  styles/twitch/catppuccin.user.less
Labels: twitch

#1458 fix(anilist): change text-bright
  styles/anilist/catppuccin.user.less
Labels: anilist

#1586 fix(pronouns.page): misc
  styles/pronouns.page/catppuccin.user.less
Labels: pronouns.page

#1592 fix(youtube): loop checkbox in context menu
  styles/youtube/catppuccin.user.less
Labels: youtube

#1595 refactor(github): remove invalid theme warning & cleanup applicators
  styles/github/catppuccin.user.less
Labels: github

#1597 feat(github): docs.github.com
  styles/github/catppuccin.user.less
Labels: github

#1601 fix(modrinth): header sections
  styles/modrinth/catppuccin.user.less
Labels: modrinth

#1591 fix(instagram): voice clip
  styles/instagram/catppuccin.user.less
Labels: instagram

#1602 fix(ghostty.org): adwaita terminal title bar
  styles/ghostty.org/catppuccin.user.less
Labels: ghostty.org

#1603 fix(hackage): fix synopsis and upload buttons
  styles/hackage/catppuccin.user.less
Labels: hackage

#1604 fix(youtube): toggle button color in video options
  styles/youtube/catppuccin.user.less
Labels: youtube
