Repository catppuccin/userstyles, pull requests merged in 2025-04, with the labels that each got.

#1670 fix(perplexity): various fixes, make colors more consistent with orig…
  styles/perplexity/catppuccin.user.less
Labels: perplexity

#1697 fix(pinterest): avoid formatter syntax errors
  styles/pinterest/catppuccin.user.less
Labels: pinterest

#1699 fix(snapchat-web): change domain
  styles/snapchat-web/catppuccin.user.less
Labels: snapchat-web

#1704 fix(pinterest): pin dropdown title color
  styles/pinterest/catppuccin.user.less
Labels: pinterest

#1706 fix(snapchat-web): add "www" prefix
  styles/snapchat-web/catppuccin.user.less
Labels: snapchat-web

#1710 fix(hackage): new subdomain and inline code
  styles/hackage/catppuccin.user.less
Labels: hackage

#1711 fix(stack-overflow): fix background on askubuntu.com
  styles/stack-overflow/catppuccin.user.less
Labels: stack-overflow

#1709 fix(youtube): changed fade of --yt-spec-themed-overlay-background
  styles/youtube/catppuccin.user.less
Labels: youtube

#1712 fix(substack): misc
  styles/substack/catppuccin.user.less
Labels: substack

#1716 fix(wikipedia): unset `--background-color-base-fixed` var
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1718 fix(youtube): profile popup handle and pronouns
  styles/youtube/catppuccin.user.less
Labels: youtube

#1721 fix(youtube): new ui header background
  styles/youtube/catppuccin.user.less
Labels: youtube

#1727 fix(chatgpt): chat and code block text
  styles/chatgpt/catppuccin.user.less
Labels: chatgpt
