Repository catppuccin/userstyles, pull requests merged in 2025-05, with the labels that each got.

#1719 fix(gleam.run): redesigned packages.gleam.run
  styles/gleam.run/catppuccin.user.less
Labels: gleam.run

#1722 feat(youtube): sponsor block elements
  styles/youtube/catppuccin.user.less
Labels: youtube

#1724 feat(google-photos): gm3 variables
  styles/google-photos/catppuccin.user.less
Labels: google-photos

#1730 fix(google): google tv show information
  styles/google/catppuccin.user.less
Labels: google

#1734 fix(google): oops
  styles/google/catppuccin.user.less
Labels: google

#1735 feat(youtube): optional sponsorblock recoloring
  styles/youtube/catppuccin.user.less
Labels: youtube

#1736 feat(youtube): enhancer for youtube toolbar
  styles/youtube/catppuccin.user.less
Labels: youtube

#1740 fix(canvas-lms): buttons & misc
  styles/canvas-lms/catppuccin.user.less
Labels: canvas-lms

#1745 fix(youtube): sidebar streaming indicator
  styles/youtube/catppuccin.user.less
Labels: youtube

#1750 fix(chatgpt): sidebar headers bg
  styles/chatgpt/catppuccin.user.less
Labels: chatgpt

#1744 fix(canvas-lms): tabs, toggles, equation editor, misc.
  styles/canvas-lms/catppuccin.user.less
Labels: canvas-lms

#1743 feat(canvas-lms): bettercanvas elements
  styles/canvas-lms/catppuccin.user.less
Labels: canvas-lms

#1757 chore(nixos-manual): update nix-darwin url
  styles/nixos-manual/catppuccin.user.less
Labels: nixos-manual, nixpkgs-manual

#1726 feat(wikipedia): support various other public mediawikis
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1732 fix(bsky): highlighted notifications
  styles/bsky/catppuccin.user.less
Labels: bsky

#1760 fix(wikipedia): rendered math equations
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1759 fix(cinny): prism syntax highlighting
  styles/cinny/catppuccin.user.less
Labels: cinny
