Repository catppuccin/userstyles, pull requests merged in 2025-06, with the labels that each got.

#1725 fix(vikunja): assorted updates
  styles/vikunja/catppuccin.user.less
Labels: vikunja

#1780 fix(youtube): category tag pills
  styles/youtube/catppuccin.user.less
Labels: youtube

#1782 fix(github): higher specificity of auto/system theme selector
  styles/github/catppuccin.user.less
Labels: github

#1786 fix(claude): consistent code blocks
  styles/claude/catppuccin.user.less
Labels: claude

#1768 fix(keybr): stats color
  styles/keybr.com/catppuccin.user.less
Labels: keybr.com
