Repository catppuccin/userstyles, pull requests merged in 2025-09, with the labels that each got.

#1873 fix(google-photos): root target selector
  styles/google-photos/catppuccin.user.less
Labels: google-photos

#1871 fix(twitch): seekbar & chapter selector
  styles/twitch/catppuccin.user.less
Labels: twitch

#1888 feat(tldraw): rewrite
  styles/tldraw/catppuccin.user.less
Labels: tldraw

#1912 fix(whatsapp-web): contrast rebalancing
  styles/whatsapp-web/catppuccin.user.less
Labels: whatsapp-web

#1914 fix(lichess): inverted piece colors and black queen piece
  styles/lichess/catppuccin.user.less
Labels: lichess

#1941 fix(youtube): video collaborator popup/dialog background
  styles/youtube/catppuccin.user.less
Labels: youtube
