Repository catppuccin/userstyles, pull requests merged in 2025-03, with the labels that each got.

#1640 fix(seventv): chat mod button color
  styles/seventv/catppuccin.user.less
Labels: seventv

#1642 fix(crates.io): update css variables
  styles/crates.io/catppuccin.user.less
Labels: crates.io

#1644 fix(pypi): unstyled tables
  styles/pypi/catppuccin.user.less
Labels: pypi

#1645 fix(pypi): various
  styles/pypi/catppuccin.user.less
Labels: pypi

#1641 fix(chatgpt): temporary chat contrast
  styles/chatgpt/catppuccin.user.less
Labels: chatgpt

#1646 fix(picrew): unthemed elements
  styles/picrew/catppuccin.user.less
Labels: picrew

#1631 fix(google-photos): assorted fixes
  styles/google-photos/catppuccin.user.less
Labels: google-photos

#1084 feat(canvas-lms): rewrite
  scripts/userstyles.yml
  styles/canvas-lms/catppuccin.user.less
  styles/canvas-lms/preview.webp
Labels: canvas-lms

#1581 fix(pinterest): misc
  scripts/userstyles.yml
  styles/pinterest/catppuccin.user.less
Labels: pinterest

#1655 chore: bump changed userstyles
  styles/canvas-lms/catppuccin.user.less
  styles/pinterest/catppuccin.user.less
Labels: canvas-lms, pinterest

#1654 fix(pinterest): search guide and search suggestions
  styles/pinterest/catppuccin.user.less
Labels: pinterest

#1657 fix(pinterest): small white rectangles & messing variable
  styles/pinterest/catppuccin.user.less
Labels: pinterest

#1662 fix(reddit): comment action row color
  styles/reddit/catppuccin.user.less
Labels: reddit

#1660 fix(pinterest): variables and pin actions
  styles/pinterest/catppuccin.user.less
Labels: pinterest

#1624 fix(google-gemini): remove weird shadows
  styles/google-gemini/catppuccin.user.less
Labels: google-gemini

#1663 fix(wikipedia): page previews
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1651 fix(chess.com): arrow and square highlights
  styles/chess.com/catppuccin.user.less
Labels: chess.com

#1673 fix(stack-overflow): misc
  styles/stack-overflow/catppuccin.user.less
Labels: stack-overflow

#1677 fix(github): contribution graph
  styles/github/catppuccin.user.less
Labels: github

#1679 fix(pinterest): loading screen logo
  styles/pinterest/catppuccin.user.less
Labels: pinterest

#1674 fix(google-drive): applicator selectors
  scripts/userstyles.yml
  styles/google-drive/catppuccin.user.less
Labels: google-drive

#1685 fix(wikipedia): disable logo invert filter on dark appearance
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1686 fix(wikipedia): apply on new auth domain
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1683 fix(pinterest): sidebar navigation icons
  styles/pinterest/catppuccin.user.less
Labels: pinterest

#1687 fix(wikipedia): misc
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1688 fix(cinny): blue links
  styles/cinny/catppuccin.user.less
Labels: cinny

#1681 fix(mullvad-leta): new search ui
  styles/mullvad-leta/catppuccin.user.less
  styles/mullvad-leta/preview.webp
Labels: mullvad-leta
