Repository catppuccin/userstyles, pull requests merged in 2025-02, with the labels that each got.

#1611 fix(brave-search): add variables to `.is-serp` class
  styles/brave-search/catppuccin.user.less
Labels: brave-search

#1605 fix(chess.com): board colors
  styles/chess.com/catppuccin.user.less
Labels: chess.com

#1598 fix(freedesktop): h4-h6 tags and topnav
  styles/freedesktop/catppuccin.user.less
Labels: freedesktop

#1552 feat(seventv): twitch extension
  scripts/userstyles.yml
  styles/seventv/catppuccin.user.less
Labels: seventv

#1614 fix(wikipedia): remove default anchor element color
  styles/wikipedia/catppuccin.user.less
Labels: wikipedia

#1599 fix(stack-overflow): follow style guide for links
  styles/stack-overflow/catppuccin.user.less
Labels: stack-overflow

#1619 fix(chatgpt): message input box
  styles/chatgpt/catppuccin.user.less
Labels: chatgpt

#1622 fix(chatgpt): message input box background
  styles/chatgpt/catppuccin.user.less
Labels: chatgpt

#1620 fix(github): issue timeline icons
  styles/github/catppuccin.user.less
Labels: github

#1607 fix(twitch): misc
  styles/twitch/catppuccin.user.less
Labels: twitch

#1627 fix(chatgpt): chat input box background
  styles/chatgpt/catppuccin.user.less
Labels: chatgpt

#1625 fix(chess.com): inverted piece colors on latte
  styles/chess.com/catppuccin.user.less
Labels: chess.com

#1615 fix(instagram): prev/next button svgs
  styles/instagram/catppuccin.user.less
Labels: instagram

#1632 fix(snapchat-web): fixes unthemed elements
  styles/snapchat-web/catppuccin.user.less
Labels: snapchat-web

#1639 fix(brave-search): theme ask a follow-up question field
  styles/brave-search/catppuccin.user.less
Labels: brave-search
